[2021-03-23 21:56] Bhavya-22 commented on #667
@arvindnegi1 @bpross-52n Sir please let me know about this.

[2021-03-23 22:02] Bhavya-22 opened #668 "New feature:- Forget Username and Forget Password option"
**Issue** :- In enviroCar app there is no system to login if one forget it's username or it's password.

**How will I fix this** :- I will add a verify email authentication (as in register we are taking user email) for both username and password. When verified there we can send a mail regarding forget username and password and let the user know the respective field it forgets.(For initial phase I

[2021-03-23 22:02] Bhavya-22 commented on #668
@arvindnegi1 @bpross-52n sir please let me know about this

[2021-03-23 22:08] Bhavya-22 opened #669 "LogBook Dialog Box changes"
**Issue** :- On selecting a particular added fueling the dialog box is showing just delete and cancel option. There is no edit option to edit the type/selected values.

**How will i fix this issue** :- I will provide a edit button in the box which will be redirected to add fueling with defaults entries as selected by user.

![Fueling_DialogBox](https://user-images.githubusercontent.com/54673703/11

[2021-03-23 22:16] Bhavya-22 opened #670 "Login,Register,Logout options as icons"
**Issue** :- For login , Register option there is a drop down menu with one item. After login the same is for logout.

**How will i fix this** :- Instead of using dropdown menu i will set them as menu icons which are always visible. Login and register icon if user is logged out and logged out icon if user is logged in which onlong click show what icon represent by a toast message.

![Login_option]

[2021-03-24 02:46] asaikarthikeya commented on #670
#429

[2021-03-24 02:56] asaikarthikeya commented on #668
Please check the comments in this #396 issue. I guess features like Password reset and forgot password would be handled by mentors . Wait for the confirmation before working on this. Thank you.

[2021-03-24 02:58] asaikarthikeya commented on #665
Duplicate #578 . Please read the comments of this issue.

[2021-03-24 05:56] Bhavya-22 commented on #665
But I think navigation view would be more responsive. What if I try my layout for navigation view.
Although I got your point @asaikarthikeya.

[2021-03-24 05:58] Bhavya-22 commented on #668
That's why I tagged the mentors and wrote I will work if applicable as it can disabled or not visible because of some reason.

[2021-03-24 06:01] Bhavya-22 commented on #670
So why is it open for a year is there something sarthak missed or it's like not to implement icons
@arvindnegi1 sir please let me know about this

[2021-03-24 07:13] asaikarthikeya commented on #668
I have tagged the issue since it expresses the views of previous mentor who worked on this project. Tagged issue also serves as a point of reference for analyzing this issue. Please refer to old issues before opening new one's.

[2021-03-24 07:40] asaikarthikeya commented on #665
Two weeks of GSoC 2018 have been completely dedicated in shifting the app design from Navigation bar to Bottom navigation bar. Read the advantages of Bottom Navigation bar mentioned and blogs added by 2018 Gsocer. Working on this is like moving back in our development efforts. Thank you for sharing you thoughts @Bhavya-22. Let's wait for @bpross-52n sir response as i have also opened this issue an

[2021-03-24 08:49] Bhavya-22 commented on #665
@asaikarthikeya so first I will see why bottom navigation view is preferred over navigation view. Thank you for your reference

[2021-03-24 09:12] arvindnegi1 commented on #670
@Bhavya-22 Since no PRs has been made and contributor who raised issue is not active. You can work on this but please close this issue and create PR referring to the issue already created. Thanks ;)

[2021-03-24 09:14] Bhavya-22 commented on #670
Ok sir

[2021-03-24 09:15] #670 closed

[2021-03-24 14:26] Bhavya-22 commented on #630
Sir is it alright to use strings/values send_log_comments_label by this first it is not hard coded now and I have not changed any de strings values

[2021-03-24 14:43] Bhavya-22 commented on #630
@arvindnegi1 sir when we delete a fueling the snack bar text "fueling is successfully deleted from server" is showing but I think as a user point of view from server is not necessary so can I edit this text too or just let it be as it is

[2021-03-24 14:49] Bhavya-22 commented on #630
Or if from server should not be deleted so should I add the same to successful Snack bar text also (Your fueling is successfully added to server or just your fueling is successfully added).

Please let me know so that no comments on review is required.(or I can just change both delete and add text and you can review it on PR)

[2021-03-24 22:15] swayamkaul opened #671 "Feature: Closing down the typing keyboard by touching the background"
The keyboard does not close down until back is pressed.
Adding the option to click the anywhere on the background to close the typing keyboard makes the UI more handy and smoothens the experience especially in the UIs where the keyboard is hiding some buttons or text boxes like.
![Screenshot 2021-03-25 at 3 27 45 AM](https://user-images.githubusercontent.com/43716674/112390088-c1345d80-8d1b-11eb-8

[2021-03-24 22:15] swayamkaul commented on #671
**I will be working on this issue**

[2021-03-25 04:54] ritish099 commented on #662
@Bhavya-22 cooool ☺

[2021-03-25 09:19] Bhavya-22 commented on #630
PR for this is created
#672
@arvindnegi1 Sir please review it and also let me know about the comment I wrote.

[2021-03-25 09:20] Bhavya-22 commented on #630
For now i have added the "to server" text to successful adding fueling snackbar too.

[2021-03-26 08:41] Bhavya-22 commented on #664
PR for this is created
#673
@arvindnegi1 Sir kindly review it.

[2021-03-26 21:05] swayamkaul opened #674 "Optimisation: Replacing listView in CarSelectionActivity with Recycler View having well designed Cardviews"
![Screenshot 2021-03-27 at 2 26 30 AM](https://user-images.githubusercontent.com/43716674/112692174-8c074700-8ea4-11eb-8851-4d3c60c61fa0.png)
This activity presently contains listView for showing the list of cars which is not an efficient approach.
This listView needs to be replaced with RecyclerView having well designed CardViews which will lead to a better UserInterface as well as better app per

[2021-03-26 21:06] swayamkaul commented on #674
**I will be working on this issue**

[2021-03-27 16:46] ojasjain24 opened #675 "no track data until restart"
When we complete a new track, It is not visible in My Tracks, until we restart the app.

[2021-03-27 16:47] ojasjain24 commented on #675
I am Working on this

[2021-03-27 20:09] shubh-cmd opened #677 "Typo error in help section"
when you go to help section and then subsection 2.3, there is some typo, that is in place of OBD-II adapter, it is written ODB-II Adapter.
Apart from 2.3 subsection, some other subsection is also having same typo error

@arvindnegi1 , confirm if I am right!

**I will be working on this if gets confirmation.** Actually i am new to open source so it would be great to start with this issue

[2021-03-29 10:38] nabeelDanish commented on #212
Hey there. I can contribute to this enhancement as part of my GSOC code challenge. Can you please elaborate more on this?

[2021-04-01 18:02] BolisettySujith opened #678 "Text Pointer not visibility clearly"
When the user what's to **log in** or **Register** in the app, the text pointer color merged with the background color and it is not clearly visible. Because of that, some people can't see that where the pointer point's the name, so I want to make the pointer to be visible.

https://user-images.githubusercontent.com/73323807/113332680-20f3bf80-933f-11eb-93f9-fd20407c60e1.mp4

How will I fix the is

[2021-04-01 18:13] asaikarthikeya commented on #678
Duplicate #603

Welcome to the community @BolisettySujith. I have worked on this particular issue. PR is not yet reviewed. Thank you :)

[2021-04-01 18:23] BolisettySujith commented on #678
@asaikarthikeya thanks for intimating early, no problem I will look for another issue. Thank you :)

[2021-04-02 11:49] arvindnegi1 commented on #677
you can work on this.
thanks!

[2021-04-02 12:25] arvindnegi1 commented on #678
@BolisettySujith please close this issue.

[2021-04-02 12:28] BolisettySujith commented on #678
@arvindnegi1 ok thank you

[2021-04-02 12:28] #678 closed

[2021-04-02 13:23] BolisettySujith commented on #217
@bpross-52n and @arvindnegi1 can I work on this issue. Adding a dark mode option to the app.

[2021-04-03 17:20] Bhavya-22 commented on #601
PR for this is created #680
Also as I mentioned in PR comment I have not made indicator white. As @asaikarthikeya has made that in one of it's PR (#603) as mentioned in above comments.

[2021-04-03 17:22] Bhavya-22 commented on #601
@arvindnegi1 Sir please review #680 regarding this issue.

[2021-04-04 05:29] Bhavya-22 commented on #663
PR for this is created #681

[2021-04-04 08:43] BolisettySujith opened #682 "New Feature : Adding dark theme to the app"
In this app, there is no night mode display so I want to make the app work for the dark mode also.
We know there are so many uses using dark mode.

Eg:
- It Can reduce power usage by a significant amount (depending on the device’s screen technology).
- Improves visibility for users with low vision and those who are sensitive to bright light.
- Makes it easier for anyone to use a device in a low-li

[2021-04-04 11:40] ojasjain24 opened #683 "we can add animations in splash screen."

[2021-04-04 13:03] Bhavya-22 commented on #634
PR for this is created #684.

[2021-04-05 11:19] Bhavya-22 commented on #637
PR for this is created
#685
@arvindnegi1 @bpross-52n Sir please let me know if I can create customise Dialog (specially for buttons) or DialogPreference is used for a reason. And if @asaikarthikeya idea for #591 is approved then i have no issue if @asaikarthikeya make the alert dialog box for settings also.
**Please let me know about this**

[2021-04-05 14:14] Bhavya-22 commented on #428
Pr for this is created
#686
@arvindnegi1 Sir please review it and let me know if any changes is required

[2021-04-06 07:50] BolisettySujith opened #687 "New Feature: Adding a Alert Dialog box with radio buttons in settings to switch between themes."
In issue #682, the app theme will change by changing the theme in the mobile. But there is no option to switch in the app, so I want to add a **Checkbox** in the **General Settings** to switch between the dark and light theme.

If the checkbox is clicked the app theme will turn into a dark theme otherwise it will remain in the light theme.

[2021-04-06 07:51] BolisettySujith commented on #687
@bpross-52n sir i will work on this

[2021-04-06 09:29] Bhavya-22 commented on #661
PR for this is created
#688

[2021-04-06 09:29] Bhavya-22 commented on #661
@arvindnegi1 Sir please review it

[2021-04-06 13:22] Bhavya-22 commented on #604
PR for this is created
#689

[2021-04-06 14:56] arvindnegi1 commented on #687
This is the part of #682 so why new issue here, the previous one is not been created and merged so this can not be new issue or feature rather it is part of #682.
thanks!

[2021-04-06 14:57] arvindnegi1 commented on #683
Provide some mock-up design.
thanks!

[2021-04-06 16:00] BolisettySujith commented on #682
@bpross-52n and @arvindnegi1 I had made a pull request for this, PR > #690  also added screenshots for the dark theme can u please review them.

[2021-04-06 16:03] BolisettySujith commented on #687
@arvindnegi1 Okay. I made a Pr > #690 with screenshots can u please review and suggest changes.
Thank you.

[2021-04-06 18:02] ojasjain24 commented on #683
https://user-images.githubusercontent.com/59116312/113757190-f3888680-972f-11eb-9991-b13c3552b1c9.mp4

Like this

[2021-04-08 18:39] BolisettySujith commented on #462
Can I work on this???

[2021-04-09 15:40] Akash-Ramjyothi opened #693 "Add themed and improved Snackbar"
## Description:

Currently, the android application uses a default Snackbar to display messages. If there was a better themed and styled Snackbar, it would improve the Interface of the app overall and pave way for better customizations in the future if needed.

### Screenshot of currently used Snackbar:
![WhatsApp Image 2021-04-05 at 4 11 14 AM](https://user-images.githubusercontent.com/54114888/1

[2021-04-09 16:13] Akash-Ramjyothi opened #697 "Rate this app Dialog prompt"
## Description:

Currently, the enviroCar android app has a feature to give ratings and feedback through the Playstore from the app. But for this, users have to navigate to others fragment.
Unless the users absolutely love or absolutely hate the app, they're not likely to go out of their way to rate the app on the Play Store. In scenarios like these it is critical to nudge users into rating the an

[2021-04-09 16:44] Akash-Ramjyothi opened #701 "SVG resource file for Icon"
## Description:

Currently the `activity_car_selection_layout_carlist_entry.xml` uses a `PNG (Portable Network Graphics)` resource file to display Icon. This might cause scalability problems on larger screens like Tablets. If these were replaces with an `SVG (Scalable Vector Graphics)` resource file, without altering the texture, it would be better.

**Link for currently used PNG:** https://github

[2021-04-09 17:25] Akash-Ramjyothi opened #703 "Scrollbar for Help screen"
## Description:

The Help screen has a lot of Views. This becomes a challenge for users to get a glance on the amount of contents present on the screen. If there was a scrollbar indicator, users can estimate the total contents available in the screen and improves the overall user experience.

### Sample demo of current Help screen:
![ezgif com-gif-maker (7)](https://user-images.githubusercontent.c

[2021-04-09 18:26] Akash-Ramjyothi opened #707 "Close enviroCar dialog box Icon"
## Description:

Currently, the Close enviroCar dialog box which is triggered from Others screen seems default. If there was an Icon implemented in it with same as the triggering button while closing the android app, it would improve the interactivity and user interface of the app.

### Screenshot of current Close dialog box:
![WhatsApp Image 2021-04-08 at 12 41 07 AM](https://user-images.githubus

[2021-04-09 20:55] Akash-Ramjyothi opened #712 "Logout dialog box Icon"
## Description:

Currently, the Logout dialog box which is triggered from Others screen seems like the default Material Dialog box. If there was an Icon implemented in it with same as the triggering button while closing the android app, it would improve the interactivity and user interface of the app.

## Screenshot of current Logout dialog box:
![WhatsApp Image 2021-04-08 at 1 19 56 AM](https://u

[2021-04-09 21:47] Akash-Ramjyothi opened #715 "Improve Settings screen"
## Description:

Currently, the Settings screen has a lot of Checkbox preference components with various terminologies as options. Sometimes, it becomes difficult for the user to find his desired functionality in matter of time. If there were Materialized Icons implemented preceding to every options, it would drastically improve the user interface and experience as the user could glance his desire

[2021-04-09 22:23] Akash-Ramjyothi opened #718 "Scrollbar added for Car Selection screen"
## Description:

The car selection screen to list the user's automobiles is one of the most important screens of the app. If the user has many entries, it will be difficult to estimate the contents. If there was a themed Scrollbar implemented in the screen, it would improve the user interface of the android application.

## Sample demo of current Car Selection screen:
![ezgif com-gif-maker (10)](h

[2021-04-09 22:48] Akash-Ramjyothi opened #721 "Fix Floating Action Button in logbook screen"
## Description:

Currently, the Floating Action Button on the logbook screen from Others section does not has the Add icon to enter new contents from user to the screen. If the Icon was implemented like other FABs throughout the app, it would be better.

## Screenshot of current Logbook screen:
![WhatsApp Image 2021-04-08 at 11 49 10 PM](https://user-images.githubusercontent.com/54114888/114247717

[2021-04-11 13:20] Akash-Ramjyothi opened #724 "Delete Entry dialog box Icon"
## Description:

Currently, the Delete Fueling Entry dialog box which is triggered from Logbook screen seems like the default Material Dialog box. If there was an Icon implemented in it, would improve the interactivity and user interface of the app.

## Screenshot of current Dialog Box:
![WhatsApp Image 2021-04-09 at 12 54 22 AM](https://user-images.githubusercontent.com/54114888/114305596-6b6efc0

[2021-04-11 14:07] Akash-Ramjyothi opened #727 "Fix Add Fueling screen"
## Description:

Currently, only few Input Fields on Add Fueling screen have heading Icons. The rest do not. This causes major inconsistency on the particular screen to users. If all the Input screens have Materialized Icons, it would improve the user interface.

## Screenshot of current Add Fueling screen:
![WhatsApp Image 2021-04-09 at 1 40 50 AM](https://user-images.githubusercontent.com/541148

[2021-04-11 14:07] Akash-Ramjyothi opened #728 "Fix Add Fueling screen"
## Description:

Currently, only few Input Fields on Add Fueling screen have heading Icons. The rest do not. This causes major inconsistency on the particular screen to users. If all the Input screens have Materialized Icons, it would improve the user interface.

## Screenshot of current Add Fueling screen:
![WhatsApp Image 2021-04-09 at 1 40 50 AM](https://user-images.githubusercontent.com/541148

[2021-04-11 14:58] Akash-Ramjyothi opened #732 "Improve Help screen"
## Description:

Currently, the Help screen has a lot of contents with various titles, sections and sub-sections. It becomes tedious sometimes for users to find their relevant section for a quick reference. If there were Materialized Icons implemented as drawables for the Titles, it would drastically improve the user interface and experience.

## Sample demo of current Help screen:
![ezgif com-gif

[2021-04-11 15:01] #727 closed

[2021-04-19 13:03] asaikarthikeya opened #735 "User not notified when Internet is not available in Log Book ."
### **Description**

When we try to access the Logs when the internet connections are off. Nothing is shown. We would need internet to access the logs , hence a background image can be set could be implemented indicating the network is off.

https://user-images.githubusercontent.com/70392921/115240734-ad72f000-a13d-11eb-8108-a86649224d19.mp4

[2021-04-19 13:04] asaikarthikeya commented on #735
**I am work on this issue.**

[2021-04-19 13:04] asaikarthikeya commented on #735
I am working on this issue.

[2021-04-20 07:43] ritish099 opened #736 "No Internet Connection message not shown in signup activity"
**Expected Behaviour**

When the internet is OFF and the user tries to do Login it shows a toast message showing that "Not Connected to Internet".  A similar message should be shown in the signup activity when the internet is OFF.

**Demonstration**

https://user-images.githubusercontent.com/54978105/115357268-18720480-a1da-11eb-9315-e8638680a375.mp4

[2021-04-20 07:49] ritish099 commented on #736
I am working on it.

[2021-04-20 12:31] asaikarthikeya opened #738 "BUG : Wrong items displayed in dashboard after GPS based tracking is turned off."
### **Description**

**Steps to reproduce :-**
1. Turn on GPS  based tracking from the Settings.
2. Back to Dashboard , And keep the Recording settings in GPS.
3.  Now turn off the GPS from setting.

Now Dashboard continues to show GPS based options.

**Expected output**
The OBD adapter options should be shown to the user. GPS options should not be shown.

https://user-images.githubusercontent.com

[2021-04-20 12:32] asaikarthikeya commented on #738
I will work on this issue.

[2021-05-21 13:39] asaikarthikeya commented on #609
![Screenshot from 2021-05-21 19-08-54](https://user-images.githubusercontent.com/70392921/119146218-0c42c680-ba68-11eb-9bf8-4ce53058ce31.png)

[2021-05-21 13:52] asaikarthikeya commented on #609
@arvindnegi1 Kindly look at the screenshot. I am able to reproduce this issue, NullPointerException

[2021-05-21 19:33] #598 closed

[2021-05-21 19:40] #578 closed

[2021-05-23 14:30] asaikarthikeya opened #740 "CRASH - When we go to CarselectionFragment (Cars) the app crashes on loading data"
**Steps to reproduce the bug :**

Sign in to the enviroCar account -> Go to My cars section

The app crashes every time i try to go to " My Cars" section.

**Tested on**
1. Samsung F62 APK 30
2. ASUS  Zenfone APK 29
3. Emulator

I am able to reproduce on all the above devices. Screen recording after following the above steps.

https://user-images.githubusercontent.com/70392921/119265243-96736200-b

[2021-05-23 14:43] asaikarthikeya commented on #740
![119146218-0c42c680-ba68-11eb-9bf8-4ce53058ce31](https://user-images.githubusercontent.com/70392921/119264616-8c506400-bc01-11eb-8f2c-04c774ac3c68.png)

I think the carAttributesToString() method is producing the Null pointer exception which is present in the Car.Utils file. Due to this the car views are unable to  get display and app crashes.

I have been trying to figure out the reason from the

[2021-05-23 14:45] #609 closed

[2021-05-31 17:37] asaikarthikeya opened #741 "Improving Start Track and Logging in dialog"
### **Description :**

Currently the dialogs used in starting the track and log in needs improvements.

Progress bar can be made to be horizontal.

Dialog's are not dismissed when not able to connect.

### **Current dialogs**

<img src="https://user-images.githubusercontent.com/70392921/120226023-fb623400-c263-11eb-9870-ee690153b0e6.jpg" width="250" height="450" /> <img src="https://user-images.gi

[2021-06-05 10:26] asaikarthikeya opened #742 "OBD Selection Bug : When User enters the OBD selection, Wrong toast and no circular progress bar to indicate the discovery is taking place"
### **Description**

When user enters the OBD selection,  Toast is shown as "Discovery Finished" it should be "Discovery started". No circular progress bar visibility. User doesn't know whether the new devices are being discovered or not.

https://user-images.githubusercontent.com/70392921/120888519-51ddc280-c616-11eb-98d8-bafd03de9d2d.mp4

[2021-06-05 10:26] asaikarthikeya commented on #742
I will work on this issue.

[2021-06-15 16:47] asaikarthikeya commented on #740
@SebaDro Please have a look at this issue sir. Thank you.

[2021-06-15 18:36] arvindnegi1 commented on #740
@asaikarthikeya its seems like some invalid car type has been added in the server. Can you please check for that, because it crashes while specific user car is fetched so maybe it has previously allowed to add invalid car type. I tried to reproduce the issue but unable to.
You can check for that using
if(!(car.getConstructionYear()==null|| car.getConstructionYear().isEmpty()) ) similarly check for

[2021-06-15 18:42] asaikarthikeya commented on #740
@arvindnegi1 I will check that.

[2021-06-21 03:40] asaikarthikeya opened #750 "OBD Selection : New devices discovery time."
### **Description**

Sometimes,the discovery of new devices is take significantly longer duration. Rediscover would be a better option than to continue waiting. I observed that in most cases successful discovery is done <15 sec. If not discovered in 15 sec the app takes long time to discover. Hence notify that discovery finished after 15 sec, So user clicks on rediscover.

[2021-06-21 03:49] asaikarthikeya opened #751 "OBD Selection : Wrong toast messages."
### **Description**

1. When user enters the OBD selection, Toast is shown as "Discovery Finished" it should be "Discovery started" - #742

2. Toast message as "Discovery Finished" is shown when the Bluetooth is disabled while discovery. No toast should be shown to the user. - #596

[2021-06-21 09:53] SebaDro commented on #591
Implemented with merge of #747

[2021-06-21 09:53] #591 closed

[2021-06-21 09:59] SebaDro commented on #724
Implemented by merge of #747

[2021-06-21 09:59] #724 closed

[2021-06-21 10:02] #712 closed

[2021-06-21 10:02] SebaDro commented on #707
Implemented by merge of #747

[2021-06-21 10:02] #707 closed

[2021-06-21 10:08] SebaDro commented on #517
Sorry, I can't accept this issue, since I don't understand your title. Please, provide a new one with a more detailed explanation. So far, I close this issue.

[2021-06-21 10:08] #517 closed

[2021-06-28 11:52] SebaDro commented on #514
Has been fixed with #753

[2021-06-28 11:52] #514 closed

[2021-06-29 13:04] asaikarthikeya commented on #741
Fixed by #752

[2021-06-29 13:04] #741 closed

[2021-06-30 02:42] #592 closed

[2021-06-30 02:43] asaikarthikeya commented on #608
Fixed by #747

[2021-06-30 02:43] #608 closed

[2021-06-30 02:48] asaikarthikeya commented on #637
@SebaDro Implemented by merge of #747

[2021-06-30 02:50] asaikarthikeya commented on #585
Implemented by merge of #747

[2021-06-30 02:50] #585 closed

[2021-06-30 02:56] asaikarthikeya commented on #669
First part of issue is implemented by #747 . Edit option is duplicate of #479

[2021-06-30 03:17] asaikarthikeya commented on #311
Merged ! Issue resolved.

[2021-06-30 03:19] asaikarthikeya commented on #319
Merged ! Issue resolved.

[2021-06-30 03:20] asaikarthikeya commented on #322
Merged ! Issue resolved.

[2021-06-30 03:21] asaikarthikeya commented on #324
Merged ! Issue resolved. #743

[2021-06-30 10:45] asaikarthikeya commented on #210
CONTRIBUTORS.md - https://github.com/enviroCar/enviroCar-app/blob/master/CONTRIBUTORS.md

[2021-06-30 10:45] SebaDro commented on #669
#747 only addresses the layout of dialogs but not the edit feature. So it still needs to be implemented. However, this issue actually is a duplicate of #479 which was posted first. Hence, I will close this issue right now.

[2021-06-30 10:45] #669 closed

[2021-06-30 10:46] asaikarthikeya commented on #312
Merged! Issue resolved.

[2021-06-30 10:48] SebaDro commented on #210
Great. I think this issue can be closed. @matthesrieke feel free to open again ;-)

[2021-06-30 10:48] #210 closed

[2021-06-30 10:48] asaikarthikeya commented on #449
Unable to reproduce this issue.

[2021-06-30 10:50] #312 closed

[2021-06-30 10:57] asaikarthikeya commented on #467
Implemented in #747 .

[2021-06-30 11:11] asaikarthikeya commented on #493
Unable to reproduce.

[2021-06-30 11:39] #311 closed

[2021-06-30 11:40] #319 closed

[2021-06-30 12:52] Areeb-510 opened #756 "Car Selection Card view bug in Dashboard fragment"
The selected car card view in the dashboard fragment does not get updated when a car is deleted from the car list to show the default text. I am attaching a video to explain the bug in a better way.

https://user-images.githubusercontent.com/77868296/123952497-b4cb3b00-d9c3-11eb-8f95-075b208076d8.mp4

[2021-07-01 07:14] #322 closed

[2021-07-01 07:14] #324 closed

[2021-07-01 07:26] SebaDro commented on #622
FAB is still blocking the construction year input, when you try to open the dropdown list by clicking on the arrow for the first time. Any ideas on it @arvindnegi1?

Screenshot:
<img src="https://user-images.githubusercontent.com/18207870/124083123-cbb66f80-da4d-11eb-99e5-b5fc37a4b21e.jpg" width="300">

[2021-07-01 07:35] asaikarthikeya commented on #622
![Screenshot_20210701-130147_enviroCar](https://user-images.githubusercontent.com/70392921/124084827-04b20c80-da6d-11eb-8110-846a86c7846e.jpg)

[2021-07-01 07:38] asaikarthikeya commented on #622
@SebaDro I am not able to reproduce this sir. However i will make a PR now. Not sure but this may resolve this. You can check it once.

![Screenshot_20210701-130147_enviroCar](https://user-images.githubusercontent.com/70392921/124084859-0e3b7480-da6d-11eb-97dc-6fae9ba94f96.jpg)

[2021-07-01 09:53] arvindnegi1 commented on #622
@SebaDro  sorry sir i am not able to reproduce this. It can be because after the animation hide the FAB it still shown up in some devices. @asaikarthikeya  has created PR for this.

[2021-07-01 10:33] SebaDro commented on #622
Unfortunately, it does not fix the issue. In one of the two fragments (HSN/TSN or Attributes), click in the empty area where the FAB was located. This will let the FAB pop up again:

https://user-images.githubusercontent.com/18207870/124110299-5dcb7180-da68-11eb-8ad6-b7e2585c5cec.mp4

[2021-07-01 10:37] SebaDro commented on #622
Ok, that can be the reason, why it won't arise on your device. Any chance to fix this behaviour?

[2021-07-02 01:30] asaikarthikeya commented on #574
Superseded by #747

[2021-07-02 01:30] #574 closed

[2021-07-02 01:30] #590 closed

[2021-07-02 01:33] asaikarthikeya commented on #539
@arvindnegi1 Can we close this issue?

[2021-07-02 01:40] asaikarthikeya commented on #532
@arvindnegi1 Merged ! please close this PR ;)

[2021-07-02 01:40] asaikarthikeya commented on #526
@arvindnegi1 Merged ! please close this PR ;)

[2021-07-02 01:42] asaikarthikeya commented on #519
This was done as a part of GSoC 2020 right ? Can we close this issue @arvindnegi1 ?

[2021-07-02 01:45] arvindnegi1 commented on #539
@asaikarthikeya the corresponding PR is not merged yet , actually after deleting gsoc2020 branch the PRs which are not merged are closed automatically. I need to open PR again to develop branch instead now.

[2021-07-02 01:47] arvindnegi1 commented on #519
Merged #527

[2021-07-02 01:47] #519 closed

[2021-07-02 01:48] arvindnegi1 commented on #532
Merged #533

[2021-07-02 01:48] #532 closed

[2021-07-02 01:49] arvindnegi1 commented on #461
New design proposed

[2021-07-02 01:49] #461 closed

[2021-07-02 01:50] #526 closed

[2021-07-02 02:02] asaikarthikeya commented on #450
@arvindnegi1 I am not very good with dagger, but on the little search I found that  void Inject() is used in dagger 1 and dagger 2 is a updated version. And dagger 1 is deprecated. Should this be worked on?

[2021-07-02 02:12] asaikarthikeya commented on #539
Oh. After you update the PRs. Lets request Sebastian Sir to review these PR.

[2021-07-02 02:47] arvindnegi1 commented on #450
I didn't get any confirmation about this from previous mentor. Closing this!

[2021-07-02 02:47] #450 closed

[2021-07-02 03:25] asaikarthikeya commented on #412
@arvindnegi1 Can we close this issue?

[2021-07-02 03:42] asaikarthikeya commented on #740
This issue is present since the last 2 months. Not sure, But now the app works fine. Closing this issue as i am unable to reproduce it.  Thank you @arvindnegi1 for sharing your thoughts on this.

[2021-07-02 07:02] SebaDro commented on #467
I will let this issue open until #747 is merged back to the master branch.

[2021-07-02 08:49] SebaDro commented on #493
Since reproducing the issue is not possible, I will close it. Feel free to open it again, but please, describe the preconditions that cause this issue.

[2021-07-02 08:49] #493 closed

[2021-07-02 09:49] SebaDro commented on #640
Fixed with #734

[2021-07-07 13:41] #595 closed

[2021-07-14 03:58] asaikarthikeya commented on #389
Merged ! We can close this issue now @arvindnegi1. Thank you.

[2021-07-15 02:52] TJ5 opened #763 "Running Unit Tests in Android Emulator"
I followed instructions in README.md to add the project to Android Studio. I'd like to see if I can run any existing tests in Android Emulator. Could you please assist me with instructions in how to do this? I'm happy to send a contribution to the documentation once I'm able to get this working.

[2021-07-16 05:59] asaikarthikeya commented on #763
Hello @TJ5. As I understand it, You want to run the application on the Emulator and test the functionality. Right?

[2021-07-16 18:41] TJ5 commented on #763
Right, through any existing unit tests for this project.

[2021-07-17 15:00] asaikarthikeya commented on #763
Actually we need a OBD. But for testing purpose we have OBD Simulator ( as mentioned in the Readme) and also GPS option in settings.

OBD Simulator:
You would require 2 smart phone to test this out. One mobile should contain the App and other with the Simulator. Both devices should be connected via Bluetooth. Now click start track in the app and you will see the app starts tracking the Journey.

G

[2021-07-20 10:25] SebaDro commented on #763
As @asaikarthikeya mentioned, you can use the OBD Simulator application. Just follow his instructions to get started. For now, I will close the issue. Feel free to open it again.

[2021-07-20 10:25] #763 closed

[2021-07-22 05:10] asaikarthikeya commented on #618
I agree with @Bhavya-22 comment. User will remember the total price that he spent to fill fuel instead of the price per litre. And
@ritish099, the app is mostly used in Germany were the fuel prices are in single digit Eg : € 1.39 per litre petrol. It makes sense that they have intentionally made the total price field to be just 3 digits. But in india the total fueling  cost can go upto 4 digits al

[2021-07-22 05:20] asaikarthikeya commented on #661
Fixed by #752

[2021-07-22 06:59] SebaDro commented on #665
@asaikarthikeya already explained why bottom navigation is preferred. So far, I don't see any need to work on this issue. Anyway, many thanks to @Bhavya-22 for your suggestions.

[2021-07-22 06:59] #665 closed

[2021-07-22 07:02] SebaDro commented on #449
It's likely, that this issue has already been fixed in the meantime. Feel free top open it again, if it's still present.

[2021-07-22 07:02] #449 closed

[2021-07-22 07:11] asaikarthikeya commented on #445
Fixed by #544

[2021-07-22 07:34] asaikarthikeya commented on #662
This issue proposed 2 features
1. Onclick when red colour is resolved by #762
2. In my opinion it is too much of information. I feel blue-red colour combination is sufficient to understand whether Bluetooth is on/off. @SebaDro sir, if you feel that on long click feature to be useful then i will implement that or else we can close this PR. Thank you ;)

[2021-07-22 08:55] #389 closed

[2021-07-22 08:56] #412 closed

[2021-07-22 10:15] SebaDro commented on #662
The red/blue combination should be clear enough for indicating the button state. In addition, the icons are self speaking. Therefore, there is no need for a long click feature. Since #762 solves parts of this issue, it can be considered as done.

[2021-07-22 12:20] asaikarthikeya commented on #756
Duplicate #572

[2021-07-22 12:45] asaikarthikeya commented on #504
Duplicate #572

[2021-07-22 12:54] asaikarthikeya opened #767 "Delete Track dialog content."
![Screenshot_20210722-182302_enviroCar](https://user-images.githubusercontent.com/70392921/126642168-d8582cdb-77c5-4e45-b507-41b8ad9cab5f.jpg)

[2021-07-22 20:56] TJ5 commented on #763
To make sure I understand, the OBD simulator and GPS tracking are ways to manually test the app? Are there any automatic tests in the repo currently, and if not, would they be helpful to implement?

[2021-07-23 02:34] asaikarthikeya commented on #763
Currently App supports only manual testing. As of not we donot have automatic testing support. Issue - #205

[2021-07-23 13:42] SebaDro commented on #763
Yes, you can use the OBD simulator, which mocks the OBD adapter, for manually testing the app. However, I don't understand, what you mean with "automatic testing".

If you mean Unit testing: yes we have several Unit and Android tests which will be executed "automatically" when building the app.

If you mean to test the app with some dummy data as mentioned in #205: unfortunately, the app does not

[2021-07-23 14:39] SebaDro commented on #361
The app UI has been updated in the meanwhile, so that the "Other Settings" view is no more existent. Therefore, I will close this issue. Feel free to open it again, if you have any doubts.

[2021-07-23 14:39] #361 closed

[2021-07-23 14:44] SebaDro commented on #662
Duplicate of #611. I wil close it for now but feel free to open it again, if there is still a valid issue.

[2021-07-23 14:44] #662 closed

[2021-07-23 14:54] SebaDro commented on #756
I will close this issue, since it it a duplicate of #572.

[2021-07-23 14:54] #756 closed

[2021-07-23 14:56] SebaDro commented on #504
Thanks for reporting this issue. It has been also mentioned in #572 which was fixed with #573. Therefore I will close this issue.

[2021-07-23 14:56] #504 closed

[2021-07-23 16:07] asaikarthikeya commented on #687
As @arvindnegi1 has mentioned, This issue is a part of #682. I am closing this issue. Thank you.

[2021-07-23 16:07] #687 closed

[2021-07-23 16:08] #445 closed

[2021-07-23 16:09] #426 closed

[2021-07-23 16:11] asaikarthikeya commented on #463
Duplicate issue #217

[2021-07-23 16:11] #463 closed

[2021-07-23 16:15] asaikarthikeya commented on #682
Duplicate issue #217. I am closing this issue because #217 is first created and marks this as duplicate. Your PR point towards that issue. Feel free to reopen this issue, if you have any doubts. Thank you.

[2021-07-23 16:15] #682 closed

[2021-07-23 19:49] asaikarthikeya commented on #655
Duplicate #636

[2021-07-23 19:49] #655 closed

[2021-07-23 20:03] TJ5 commented on #763
Thank you @SebaDro and @asaikarthikeya . By automatic testing I really meant automated testing, apologies for the confusion. @SebaDro I did mean unit testing. Based on your response if I get a successful build, it means that several unit tests have also successfully run?
Would it be helpful for me to contribute by adding more unit tests in order to improve unit test code coverage?

[2021-07-23 20:04] asaikarthikeya commented on #362
The app UI has been updated. New app UI doesnot contain this issue. Therefore, I will close this issue. Feel free to open it again. Thank you.

[2021-07-23 20:04] #362 closed

[2021-07-24 06:33] asaikarthikeya commented on #683
@ojasjain24 Currently the app opening time is around 2 seconds. We would like to add a message as donot use the app while driving, which is partially finalized and planning to commit it in the near future. Hence, I close this issue as we are planning to work on this #366. Thank you for suggesting this feature. Feel free to reopen if you have any other doubts. Thank you.

[2021-07-24 06:33] #683 closed

[2021-07-24 06:40] asaikarthikeya commented on #404
@VibhorChinda As dewall sir has mentioned above, this issue will be handled by the code maintainers and owners of this project. Thank you for your suggestion.

[2021-07-24 06:40] #404 closed

[2021-07-24 06:57] asaikarthikeya commented on #402
Thank you for your suggestion @VibhorChinda. This is done as a part of GSoC 2020 in the issue #541. PR is made and is approved by dewall sir.

[2021-07-24 06:57] #402 closed

[2021-07-24 07:00] asaikarthikeya commented on #333
The app UI has been changed in the recent years. Now this issue doesnot exists. Feel free to reopen if you still face this issue. Thank you.

[2021-07-24 07:00] #333 closed

[2021-07-24 07:05] asaikarthikeya commented on #317
The app UI has been revised in the recent years. Now the app only shows email clients while sending a report.

![Screenshot_20210724-123205_Android System](https://user-images.githubusercontent.com/70392921/126860502-6c31ca23-7c82-4889-add2-ad62a94f18ba.jpg)

Please feel free to reopen this issue, if it still exists in your device. Thank you.

[2021-07-24 07:05] #317 closed

[2021-07-24 07:17] asaikarthikeya commented on #331
The app UI has been revised. Now Mapview is displayed in full screen. Therefore, I am closing this issue for now.

https://user-images.githubusercontent.com/70392921/126860761-0ca8468b-1ead-4302-9ac9-235809a6b5c2.mp4

[2021-07-24 07:17] #331 closed

[2021-07-24 07:20] asaikarthikeya commented on #668
Duplicate - #443

[2021-07-24 07:20] #668 closed

[2021-07-24 11:54] asaikarthikeya commented on #492
@avikumar15 Closing this issue as this is a duplicate issue of #454. #454 also describes the same issue of placeholder not being displayed.

[2021-07-24 11:54] #492 closed

[2021-07-24 12:01] asaikarthikeya commented on #367
This issue has been resolved by #377. Now tracks records contain these information. Feel free to reopen.Thank you.

[2021-07-24 12:01] #367 closed

[2021-07-24 12:27] asaikarthikeya commented on #462
@anonghostteamz There are few other issues that also propose similar features. Which marks this as a duplicate issue. As of now these features cannot be implemented in the app-side as they have to be implemented in the server first. Thank you for suggesting these great features ;)

[2021-07-24 12:27] #462 closed

[2021-07-24 12:47] asaikarthikeya commented on #444
Currently these features have been disabled for some reasons. I am compiling all the features of Sign in and Sign up into 1 single issue so that these can be dealt later. Thank you suggesting this feature.

[2021-07-24 12:47] #444 closed

[2021-07-24 12:48] asaikarthikeya commented on #443
Currently these features have been disabled for some reasons. I am compiling all the features of Sign in and Sign up into 1 single issue so that these can be deal with later. Thank you suggesting this feature.

[2021-07-24 12:48] #443 closed

[2021-07-24 12:53] asaikarthikeya opened #769 "New features Sign in and Sign up"
1. Add option to add a profile pic
2. No option to recover if user forgets his password/ User name.
3. Currently, User doesnot have option to reset his password.
4. Gmail , Facebook and other Social accounts login.

[2021-07-24 13:01] #474 closed

[2021-07-24 13:08] #667 closed

[2021-07-24 15:40] sanchi0204 commented on #366
Is this issue available to work?

[2021-07-27 05:06] asaikarthikeya commented on #618
@ritish099 We had a internal discussion on this. We might implement #631, Sometime in the near feature. And regarding this issue, The total price should be changeable ( please refer my above comment). Feel free to ask if you have any further doubts regarding this. Thank you.

[2021-07-27 05:06] #618 closed

[2021-07-27 13:31] D-Ajay-Kumar commented on #740
I face the same issue. The way I produced this was by deleting the data of the app from my phone's settings and opening the cars screen. The data deletion must've wiped the locally stored cars data which the app now fails to fetch.

[2021-08-04 16:26] asaikarthikeya commented on #644
This is a valid point from @arvindnegi1. Currently app has rate feature to provide feedback and report issue to report bugs. Adding more options to rate/give feedback is not required as of now. Thank you for your contribution @ojasjain24. Feel free to ask, if you have any more doubts.

[2021-08-04 16:26] #644 closed

[2021-08-04 16:36] asaikarthikeya commented on #604
duplicate #482

[2021-08-04 16:36] #604 closed

[2021-08-04 16:45] asaikarthikeya commented on #600
In all the popular apps. The register here/ create new account buttons is always present in text form. Eg - Instagram, Facebook etc..Hence, I am closing this issue. feel free to ask if you have any doubts. Thanks for sharing your thoughts @Bhavya-22 ;)

[2021-08-04 16:45] #600 closed

[2021-08-04 16:46] Bhavya-22 commented on #600
But atleast make them focusable so that when user click the click can be observed/feel

[2021-08-04 16:51] asaikarthikeya commented on #600
Whole sign in and Sign up activities need to be completely redesigned. Sometime in the future.

[2021-08-04 16:57] asaikarthikeya commented on #675
duplicate #475

[2021-08-04 16:57] #675 closed

[2021-08-04 17:21] asaikarthikeya commented on #396
I have placed all the requested features of sign in and sign up, that have to be implemented in the app-side and server-side under a single issue - #769. So that it will be easy of mentors to understand all the requested features by looking at one issue. Thanks for mentioning this feature @arvindnegi1 :)

[2021-08-04 17:21] #396 closed

[2021-08-15 04:17] asaikarthikeya commented on #636
fixed by #770

[2021-08-16 15:23] asaikarthikeya commented on #601
@Bhavya-22 Curser is done in #777 and about the enhancing the hints, Google made hints intentionally low in colour, so that these doesnot look as text inside the edittext. It is understandable if the edittext hints are low in colour. Thanks for sharing your views ;)

[2021-08-16 15:23] #601 closed

[2021-08-16 15:30] asaikarthikeya commented on #476
With the current implementation, Adding a ripple effect doesnot match the UI of the app. Thanks for sharing your views :)

[2021-08-16 15:30] #476 closed

[2021-08-20 11:49] asaikarthikeya commented on #472
I have spoke about this issue with Sebastian sir, He mentioned that this enhancement is not essential at this moment. Can we close this @arvindnegi1 ?

[2021-08-20 11:59] #612 closed

[2021-08-22 17:08] DhirajChauhan40 commented on #769
Hey @asaikarthikeya I wanted to ask if the features have been implemented on the server-side?

[2021-08-23 03:03] asaikarthikeya commented on #769
@DhirajChauhan40 No. This may take some more time. Thank you for showing your intrest ;-)

[2021-08-23 10:15] DhirajChauhan40 commented on #674
its been more than 4 months if @swayamkaul you have not done yet can i work on it? @asaikarthikeya

[2021-08-23 10:19] asaikarthikeya commented on #674
@DhirajChauhan40 Yes, you can work on this. Could you provide a mock up design on how you would like to improve the design ?

[2021-08-23 10:23] DhirajChauhan40 commented on #674
yes @asaikarthikeya  I have something  which i used in my hotel app project, I can show you the screenshots

[2021-08-23 10:28] asaikarthikeya commented on #674
You can use that design and add the items and views of this layout. You can share the mock up after adapting the change

[2021-08-23 10:48] DhirajChauhan40 commented on #674
![Screenshot_2021-08-23-16-16-59-70_0a7da8b3cac176690a1be5c50006612f.jpg](https://user-images.githubusercontent.com/75211982/130435116-a3bd69e2-dcb8-4324-a13a-21ce264bb721.jpg)
here at the photo of bed we can replace with the logo of the company or the photo of car itself(but i don't know how to do with every car) , and other details

[2021-08-24 03:22] asaikarthikeya commented on #660
User should be able to continue to use the app without these permissions. And we have to use run time permissions to request permission instead of user manually going to the settings. Thank you @Bhavya-22 for sharing your thoughts.

[2021-08-24 03:22] #660 closed

[2021-08-24 03:25] asaikarthikeya commented on #642
This is enhancement is not required with the current app. Thank you @ojasjain24 for sharing your thoughts.

[2021-08-24 03:25] #642 closed

[2021-08-24 06:04] DhirajChauhan40 commented on #674
update: I'm just gonna take idea from here, the UI wont be that much similar to the above design

[2021-08-24 07:34] DhirajChauhan40 opened #791 "INVALID INPUT- While selecting the car's construction year"
**Description**

Steps to reproduce :-
1-Go to My cars,go for select new
2-Select manufacture --> ALFA LANCIA (I)
                        Model --> ALFA 33 KOMBI
      Construction year --> 1988 (from the list shown or manually typing)
It will give invalid input when you add 1988 as the construction year.

**possible correction**
To remove the construction years which are currently not supported b

[2021-08-24 07:37] DhirajChauhan40 commented on #791
https://user-images.githubusercontent.com/75211982/130576304-d3f2b5d4-43db-4174-89ec-b607c28e5d4b_enviroCar.mp4

[2021-08-24 07:40] DhirajChauhan40 commented on #791
https://user-images.githubusercontent.com/75211982/130576780-2bdfdbd0-df64-40b6-b6a6-44af98a5ae6a.mp4

[2021-08-24 07:46] DhirajChauhan40 commented on #791
update:After going through other manufacturers i noticed that this error shows for Construction year < 1990 or 1995
@asaikarthikeya

[2021-08-24 07:50] asaikarthikeya commented on #791
@DhirajChauhan40  Yes. It is intentially done so. The users who use the app generally donot use a car which is 30 years old. Hence it shows error.

[2021-08-24 07:56] DhirajChauhan40 commented on #791
Then that construction year should doesn't show right? or the data comes from manufacturers server and it's directly shown?

[2021-08-24 14:21] Mainakdey1 commented on #693
Since this issue is still open , can I work on this problem @Akash-Ramjyothi ?
thank you

[2021-08-24 14:25] Akash-Ramjyothi commented on #693
@Mainakdey1 I have already fixed the issue and have made a PR for the same which is under review. I would suggest to work on some other open issues.

[2021-08-24 17:08] Mainakdey1 commented on #693
@Akash-Ramjyothi ok ,thanks for taking the time to reply .

[2021-08-25 07:24] SebaDro opened #792 "Missing log file in issue report"
**Description**
For some devices (e.g. Huawei P10) it could be observed that the log files are not attached to email when an issue report should be sent.
**Workaround**
You'll find the issue reported stored in the cache folder of the enviroCar data directory on your device, which can be sent manually by email.
**Possible fix**
As mentioned in the [Android documentation](https://developer.android.c

[2021-08-25 07:51] SebaDro commented on #792
Maybe, https://stackoverflow.com/a/42856167 describes an approach for sending the intent only to email clients.

[2021-08-25 13:02] #791 closed

[2021-08-25 13:04] DhirajChauhan40 commented on #674
@asaikarthikeya I'm having difficulty with connecting all the files and data which is from other different java files, can you help me?

[2021-08-25 15:43] DhirajChauhan40 commented on #674
oh sure actually today i had talk with Benjamin and he also said the same to me
so do you have some issues in your mind which you can state here
will be really helpful! @asaikarthikeya

[2021-08-25 15:53] asaikarthikeya commented on #674
@DhirajChauhan40 I will find create/ find a issue and tag you there.

[2021-08-25 15:54] DhirajChauhan40 commented on #674
thank you so much!!

[2021-08-25 16:00] asaikarthikeya opened #795 "Automatically close keyboard after filling a parameter in car selection."
### Description

While creating a new car, After user succesfully add a HSN/TSN value the keyboard should close automatically. Simialar behaviour is expected when entering all attributes while creating a new car.

[2021-08-25 16:02] asaikarthikeya commented on #795
@DhirajChauhan40 You can take this up. This will be good starting point. Feel free ask if you have any doubts. Thanks

[2021-08-25 16:08] asaikarthikeya commented on #589
Hello @shahabrar7746 and @DhirajChauhan40. This issue is open to work, any one of you can take this up. First PR would be considered. Thank you :)

[2021-08-25 16:28] DhirajChauhan40 commented on #795
@asaikarthikeya okayy i will start from tomorrow and will give you updates regularly.

[2021-08-26 10:06] asaikarthikeya opened #796 "Redesign the UI of SIgn in and Sign Up."
The current implemented Sign in and Sign up layout is quite outdated and doesnot match the UI of the other layout of the app. It would be nice to have a updated design.

[2021-08-28 11:46] DhirajChauhan40 commented on #795
@asaikarthikeya i need help implementing it, i have the code for hide keyboard .

my approach was to check if the values are not empty then close the keyboard but I'm not able to implement it.

[2021-08-28 12:58] asaikarthikeya commented on #795
Sure, Mail me your approach and finds at a.saikarthikeya@gmail.com. Lets try to figure this. Thanks.

[2021-08-28 14:16] DhirajChauhan40 commented on #795
sure. Also i have made requested changed in PR #799 you can checkout

[2021-08-28 15:06] DhirajChauhan40 commented on #795
@asaikarthikeya okay its working woo!
thanks

[2021-08-30 12:43] #428 closed

[2021-08-30 12:51] asaikarthikeya commented on #666
This enhancement is not required in the current state of the App. Hence i am closing this issue. Feel free to ask if you have any doubts. Thank you.

[2021-08-30 12:51] #666 closed

[2021-08-30 13:02] asaikarthikeya commented on #502
This enhancement is not required in the current state of the App. Hence i am closing this. Feel free to ask if you have any doubts. Thank you.

[2021-08-30 13:02] #502 closed

[2021-08-30 13:10] asaikarthikeya commented on #458
FAB hiding the texts take place in other apps also. I feel it is better to keep the FAB constant as users are used to this behaviour across the other apps. Hence, I am closing this issue for now. Feel free to reopen. Thank you ;)

[2021-08-30 13:10] #458 closed

[2021-08-30 13:15] asaikarthikeya commented on #472
Closing this issue :)

[2021-08-30 13:15] #472 closed

[2021-08-30 13:29] #575 closed

[2021-08-30 13:36] #740 closed

[2021-08-30 13:37] #552 closed

[2021-08-30 15:18] asaikarthikeya commented on #437
@dewall Hello Sir, I have tested this multiple devices, I havenot seen such behaviour of duplicate data. So, I am closing this issue. Feel free to reopen if you this issue still persists in your device. Thank you ;-)

[2021-08-30 15:18] #437 closed

[2021-09-02 10:15] asaikarthikeya commented on #795
PR made for this issue #802

[2021-09-02 10:47] cdhiraj40 commented on #795
@asaikarthikeya Heyy I am already done with this work and ready to make PR
you know I  was waiting for the other PR to be done so I can make new

[2021-09-02 10:48] cdhiraj40 commented on #795
I couldn't make a new PR cause of a branch issue that's why I was waiting for the old PR to be merged
you said its gonna take a while

[2021-09-02 12:08] asaikarthikeya commented on #795
@cdhiraj40 Yes, I know that you were working on this issue. I am unaware that @FabianWessel is working on this issue. The PR made for this issue is not merged yet, May be @SebaDro and @FabianWessel have not looked at this issue and our conversation . Lets wait to hear @SebaDro Sir views about this.

And regarding the opening multiple PR's, You can create multiple branches from the develop and work

[2021-09-02 12:10] #654 closed

[2021-09-02 12:16] cdhiraj40 commented on #795
okayy okayy a relief, thanks for considering my points.

yes i know about opening multiple PRs but I made a mistake by directly working in my fork's develop branch and I have committed the changes in the old PR so whenever I make a new branch the old commits will come
to change this either I will have to make a new PR after the old one gets merged(which I have decided) or delete the fork, refork a

[2021-09-02 15:07] cdhiraj40 commented on #795
hey @SebaDro it's fine I can try to work on that issue
thanks for the response and suggestion.
you can close the issue :)

[2021-09-02 15:13] cdhiraj40 opened #803 "```SendLogFileActivity``` does not support closing the keyboard when clicking in the background."

[2021-09-02 15:14] cdhiraj40 commented on #803
@SebaDro hey SebaDro as we talked about earlier I would like to work on this issue.

[2021-09-02 15:17] SebaDro commented on #803
Great. Feel free to go ahead

[2021-09-02 17:29] cdhiraj40 commented on #803
@asaikarthikeya I'm done with the code, I will make a new PR as soon as you merge the old PR.

[2021-09-02 17:35] cdhiraj40 commented on #803
https://user-images.githubusercontent.com/75211982/131890736-2fde0eb7-ade2-45b2-b99a-f2805a83ccf5.mp4

[2021-09-02 18:18] SebaDro commented on #803
#802 has just been merged. Feel free to go ahead.

[2021-09-03 04:04] cdhiraj40 commented on #803
no actually i meant my old PR, i mistakenly started working on develop branch so even if i make new branch, the old commits come so thats why the old PR should get merge

[2021-09-03 06:01] SebaDro commented on #803
No need to wait for the old PR for being merged ;-). Just create a separate _fix/name_ branch based on the current develop branch , implement the proposed fix and create a new pull request for it.

[2021-09-03 06:08] asaikarthikeya commented on #803
@cdhiraj40 May be you can delete and refork the enviroCar project again. And then create a new branch from the develop and add your changes there. Do ask if you have any doubts :)

[2021-09-04 03:11] asaikarthikeya opened #805 "Welcome message is shown to the user in Dashboard, when changing the bottom navigation framgents."
Welcome message should be only shown to the user after succesfull login.

[2021-09-04 08:55] cdhiraj40 commented on #805
Hey @asaikarthikeya I tried this, the reason it keeps on showing is that we are calling the function ``` updateUserLogin ``
again and again in ```onCreateView```
when I commented out the part it only showed once when we open the app (but obv the stats didn't update)
making a new function and trying might help, I'm doing the work if I get it I will make PR if you are okay

[2021-09-04 13:26] asaikarthikeya commented on #805
@cdhiraj40 Okay, Feel free to go ahead. Thanks

[2021-09-04 16:35] cdhiraj40 commented on #805
@asaikarthikeya I have coded that ```snackbar``` only shows the first time when you enter the app
but doing it after logging is I'm not able to because it doesn't go directly to the home screen after logging (intent is not there)

[2021-09-04 16:38] cdhiraj40 commented on #805
https://user-images.githubusercontent.com/75211982/132101930-81b25832-00df-4afa-8993-e68aa2cea59b.mp4
hope no one hacks me :)

[2021-09-04 17:47] asaikarthikeya commented on #805
Seems like a new bug got added in our develop branch, Are you able to reproduce this @SebaDro sir ?

[2021-09-04 17:51] asaikarthikeya commented on #805
@cdhiraj40 I have deleted that comment as the log-in credentials are visible in the screen recording :)

[2021-09-04 17:52] cdhiraj40 commented on #805
nice thanks :)

[2021-09-05 10:26] soham-samanta commented on #767
Hello , I'd like to work on this . Can anyone please guide me

[2021-09-05 10:35] asaikarthikeya commented on #767
@soham-samanta This issue has been resolved by #774. You can work on any open issue which doesnot has a "done" or "ready " tag ;)

[2021-09-05 11:08] cdhiraj40 commented on #805
hey @asaikarthikeya I'm done with this issue (including redirecting to dashboard fragment )if the team is not working I can make PR

[2021-09-05 12:52] cdhiraj40 commented on #805
https://user-images.githubusercontent.com/75211982/132127498-4ee1c208-1a03-4d88-900b-7380ac155007.mp4

[2021-09-05 14:14] asaikarthikeya commented on #805
Perfect! Please consider raising the PR. Many thanks for resolving this.🙂

[2021-09-05 14:27] cdhiraj40 commented on #805
sure. should i make 2 PRs, one for login intent and other for this issue? or one is fine. ,;-)

[2021-09-05 15:51] asaikarthikeya commented on #805
Do it in multiple commits, Its fine if you do it in 1 PR as the number of lines of code is not very big.  Thanks.

[2021-09-09 13:01] SebaDro opened #807 "Weird ViewPager lifecycle"
**Description**
The ViewPager for managing navigation between the three fragments (`DashboardFragment`, `TrackListPagerFragment` and `OthersFragment`) within the `BaseMainActivity` does not work appropriate. Fragments are not created in the order they should be, although they are shown correctly on the mobile device.

**How to reproduce**
Debug into the application and start the app. You will noti

[2021-09-09 13:26] SebaDro commented on #805
Fixed by dba654c and b71ba2c.

[2021-09-09 16:41] #614 closed

[2021-09-16 04:50] pratik2315 commented on #807
Hey! I want to work on this issue, Is it still available?
Thanks.

[2021-09-16 04:52] pratik2315 commented on #597
Hey! can i work on this issue?
thanks.

[2021-09-16 06:20] SebaDro commented on #807
Hey @pratik2315. Thanks for your intereset. Actually, we are already working on it. I will inform you about the progress, soon.

[2021-09-16 06:46] asaikarthikeya commented on #454
fixed by commit - 02aeb0b

[2021-09-16 06:49] asaikarthikeya commented on #534
fixed by commit - 02aeb0b

[2021-09-16 07:21] cdhiraj40 commented on #454
hey, @asaikarthikeya I still see this happening. I updated from the repo and tried. I recently downloaded it on another directory and tried but it still shows me a blank screen

I have worked on it and it doesn't show a blank screen after my implementation. If you also see the blank screen then I would like to work on it.

[2021-09-16 07:29] cdhiraj40 commented on #454
before
https://user-images.githubusercontent.com/75211982/133569320-d9a1100b-c373-4a4f-bd7e-398b12e59d91.mp4

[2021-09-16 07:30] cdhiraj40 commented on #454
after:

https://user-images.githubusercontent.com/75211982/133569440-259a3749-c700-4fad-a1d7-30de5cb8fe11.mp4

[2021-09-16 09:44] FabianWessel commented on #807
After checking on this issue it does not seem to be a bug. This behavior is by Android intended. The ViewPager always keeps the neighbouring pages loaded to allow smooth swiping to the next page. Check here for more information: [https://stackoverflow.com/questions/28456719/android-view-pager-oncreateview-getting-called-for-both-fragments](https://stackoverflow.com/questions/28456719/android-view-

[2021-09-16 09:54] SebaDro commented on #807
Great. However, this causes some problems for refreshing the view, since new recorded local tracks are not shown in the local tracks fragment. But for now, I will close this issue.

[2021-09-16 09:54] #807 closed

[2021-09-16 09:54] pratik2315 commented on #807
Thank you @FabianWessel for the knowledge!

[2021-09-16 13:15] cdhiraj40 commented on #454
@SebaDro  can you confirm about the

@SebaDro can you confirm this?

[2021-09-16 13:18] asaikarthikeya commented on #454
You can work on this @cdhiraj40. Please make your PR with the relevant code changes. Thanks :)

[2021-09-16 15:19] asaikarthikeya commented on #454
@SebaDro If i see understand the commit correctly, only displaying background image after an operation is handled in https://github.com/enviroCar/enviroCar-app/commit/02aeb0bbcaed2727ca23b442eea70400ee7e4a66. Tracks should be checked and background image should be set when upload track is opened. ;)

[2021-09-16 15:28] SebaDro commented on #454
I was about to answer, that the described issue has been fixed in 02aeb0b, but you were just faster ;-). Actually, you're right. There is still a blank screen, when opening the uploaded tracks fragment second time. So, feel free to work on it

[2021-09-16 15:33] cdhiraj40 commented on #454
I already did sir. Thanks :)

[2021-09-16 16:11] asaikarthikeya commented on #454
Yes, I have been following the code changes regularly and clearing the issues/PR the have been resolved ;)

[2021-09-16 17:17] cdhiraj40 commented on #448
@asaikarthikeya  what exactly mean by "having a bin icon" ? adding it around the readiobutton?

[2021-09-16 17:25] asaikarthikeya commented on #448
If you see OBD selection screen, you can see that for every paired device it has a bin symbol(to delete)and  a select option. Similar thing is expected in car selection screen

Let's wait to hear @SebaDro views on this issue. If sir feels this feature is good to add, you can work on this. Thanks 🙂

[2021-09-16 17:28] cdhiraj40 commented on #448
sure I will wait :)

[2021-09-16 17:44] asaikarthikeya commented on #448
Definitely, bin icon provides a better ui experience but not really sure if this is required in our app because, some car models have really long name, such car names are not displayed completely.  This is due to the presence of car symbol on the left side. By adding a bin symbol on the right end the car name will be further be reduced in size. May be only the car manufacturer name will be visible

[2021-09-16 17:49] cdhiraj40 commented on #448
yes, I totally agree if we don't show car names in the car list then I guess it doesn't make sense.
if @SebaDro would like this feature then I will sure try to work on it else I will try doing something else. Thanks

yes, I totally agree if we don't show car names properly in the car list then I guess it doesn't make sense.
if @SebaDro would like this feature then I will sure try to work on it els

[2021-09-17 05:54] cdhiraj40 opened #816 "Adding Auto Rotation to the Activities"
As of now, nothing happens if a user turns on the screen rotation. It would be good to add this feature as while traveling landscape mode looks better

[2021-09-17 06:51] asaikarthikeya commented on #816
Landscape mode is not required at the moment. The use case of the app deals with seeing/observing the track details after the journey not while the journey( not like google maps). Although we have full screen view which is sufficient at this moment. Thanks for sharing you thoughts @cdhiraj40 :)

[2021-09-17 06:51] #816 closed

[2021-09-17 06:55] asaikarthikeya opened #817 "Add full screen view while track is going on."
Add the full screen view of Map while recording a track, Similar to the map view of recorded tracks.

[2021-09-17 06:57] asaikarthikeya commented on #817
![Screenshot_20210917-122527_enviroCar](https://user-images.githubusercontent.com/70392921/133738339-b8ad0563-6f6b-485d-8f76-b36a0d73ca25.jpg)

[2021-09-17 07:01] cdhiraj40 commented on #817
Hey, @asaikarthikeya I have never tracked from the app. Is it necessary to have a OBD-II adapter and connected with the car?  is there a way to do it without (with a simple Bluetooth device) to test?

[2021-09-17 07:04] asaikarthikeya commented on #817
Actually we need a OBD. But for testing purpose we have OBD Simulator ( as mentioned in the Readme) and also GPS option in settings.

OBD Simulator:
You would require 2 smart phone to test this out. One mobile should contain the App and other with the Simulator. Both devices should be connected via Bluetooth. Now click start track in the app and you will see the app starts tracking the Journey.

G

[2021-09-17 08:05] cdhiraj40 opened #818 "No actionbar in Settings"

[2021-09-17 08:06] cdhiraj40 commented on #818
https://user-images.githubusercontent.com/75211982/133747748-d594ead9-22b5-432e-ad0b-fecff07b049a.mp4

[2021-09-17 08:07] cdhiraj40 commented on #818
@asaikarthikeya I am done with work, I will make PR if you approve. Thanks

[2021-09-17 08:08] cdhiraj40 commented on #817
Thanks for explaining. I will sure try and see if I can work on the issue. :)

[2021-09-17 15:34] asaikarthikeya commented on #818
Sure, go ahead! thanks.

[2021-09-17 16:06] cdhiraj40 commented on #818
i will make it tomorrow. my laptop is getting debugged(repaired) :)

[2021-09-18 12:47] cdhiraj40 opened #822 "profile picture for users"
It currently just shows this image, which seems to me like the user is not logged in. Letting users to add/set a profile picture will definitely give a good look to the dashboard.

![Screenshot_2021-09-18-18-17-40-85_47898aacd586656d6f60f8abb18dee77.jpg](https://user-images.githubusercontent.com/75211982/133889294-65128e1c-ec57-4598-9822-fb9ab3dc57ad.jpg)

[2021-09-18 13:01] cdhiraj40 commented on #822
@asaikarthikeya @SebaDro if you would like this feature, I will work on it. Thanks

[2021-09-18 14:40] asaikarthikeya commented on #822
Duplicate #769

[2021-09-18 14:40] #822 closed

[2021-09-18 15:13] cdhiraj40 commented on #769
okay back to this, is this issue open for work? :)

[2021-09-18 15:13] cdhiraj40 commented on #769
@asaikarthikeya  okay back to this, is this issue open for work now? :)

[2021-09-19 05:06] asaikarthikeya commented on #769
Not anytime in the near future. I will mention in the issue description if it is ready to be worked on.

[2021-09-19 07:45] cdhiraj40 opened #823 "Language in Track details is different than the Device's language."
![Screenshot_2021-09-19-13-11-53-08_47898aacd586656d6f60f8abb18dee77.jpg](https://user-images.githubusercontent.com/75211982/133919637-096d1ebd-874b-4514-889b-cadb763c18a1.jpg)

[2021-09-19 07:46] cdhiraj40 commented on #823
solved one:

![Screenshot_2021-09-19-13-12-35-76_47898aacd586656d6f60f8abb18dee77.jpg](https://user-images.githubusercontent.com/75211982/133919645-98aab7b8-85f5-4b1f-a9cb-b10324cd721a.jpg)

[2021-09-19 15:35] cdhiraj40 commented on #823
@asaikarthikeya  I will make PR if you approve. Thanks

[2021-09-19 16:08] asaikarthikeya commented on #823
@cdhiraj40 You can go ahead. For most of the trival issue you can work on them directly, no need to ask, you can post the PR. Ask only If it is related to UI or some other critical bug/ new feature. Rest all can be worked on directly no need to wait ;-). Thanks

[2021-09-19 16:15] cdhiraj40 commented on #823
okay. I will take care of this. Thanks :)

[2021-09-20 12:50] #452 closed

[2021-09-20 12:52] #693 closed

[2021-09-20 13:38] SebaDro commented on #547
As @arvindnegi1 mentioned, a GPS only mode is supported which can be actviated in the settings. Hope, this meets your expectations. If not, feel free to reopen this issue.

[2021-09-20 13:38] #547 closed

[2021-09-20 13:44] SebaDro commented on #541
Will be provided by #746.

[2021-09-20 13:46] SebaDro commented on #475
Fixed with 02aeb0bb and #820

[2021-09-20 14:15] #442 closed

[2021-09-20 14:16] #451 closed

[2021-09-20 14:17] #539 closed

[2021-09-20 14:46] SebaDro opened #825 "Remote track list overlays "No internet" placeholder"
**Description**
The "No internet" placeholder is covered by already downloaded remote tracks.
**How to reproduce**
Record and upload a track with active internet connection. Close the app and disbale internet. Restart the app and visit the remote tracks screen. You will notice, that the remote track will be loaded from local DB but "No internet" placeholder overlays it.
**How to fix**
Maybe, consi

[2021-09-20 14:46] #718 closed

[2021-09-20 14:46] #715 closed

[2021-09-20 14:46] #701 closed

[2021-09-20 14:48] #703 closed

[2021-09-20 14:48] #732 closed

[2021-09-20 14:49] #697 closed

[2021-09-20 15:13] #645 closed

[2021-09-20 15:18] #470 closed

[2021-09-20 16:22] asaikarthikeya commented on #823
Fixed by https://github.com/enviroCar/enviroCar-app/commit/9f830fd3d2a4961bac39089473238e97cd0f34b5

[2021-09-21 07:52] SebaDro opened #827 "Use of deprecated library for event bus"
**Description**
The app utilizies the event bus implementation of the library [Otto](https://github.com/square/otto), which become deprecated for a while and thus, will not be maintained any more.
**Possible solution**
The app also uses reactive components of RxJava and RxAndroid. Applying an event bus implementation based on these libraries would be straight forward.

[2021-09-21 12:35] cdhiraj40 commented on #827
Hey, I read about the otto and RxJava implementation for the eventBus. It seems that the number of files(event classes) which is currently used for the data request will significantly reduce after the RxJava implementation which will be indeed straightforward (as combining multiple dependent requests is built-in.). I would love to talk about this more. Thanks :)

[2021-09-23 11:07] SebaDro commented on #825
Fixed by #828

[2021-09-23 11:10] SebaDro commented on #818
What's the thing with this issue? Would you please, provide a detailed description for the issue, in accordance to our [contributing guidelines](https://github.com/enviroCar/enviroCar-app/blob/master/CONTRIBUTING.md)

[2021-09-23 11:15] asaikarthikeya commented on #818
The back button on the top toolbar is missing in setting screen.

[2021-09-23 11:20] asaikarthikeya opened #829 "Toast message when opened the app."
Currently, When opened for the app for the first time, welcome message is shown to the user if he is loged in. During this message user cannot perform any action with the bottom navigation bar.

This is not a good feature in high end mobile phone because, the intial splash screen is shown 2 sec and toast is shown 2 sec, So user has to wait 4 sec(approx) to perform an action.

Possible solution - R

[2021-09-23 11:22] asaikarthikeya commented on #829
@SebaDro Please have a look at this issue. related issue -#366

[2021-09-23 15:37] #817 closed

[2021-09-24 09:49] FabianWessel opened #831 "Missing Fuel Consumption in GPS-Track Statistics"
I realised that in the statistics of GPS-Tracks the estimated fuel consumption is missing:

![Screenshot_20210924-112818](https://user-images.githubusercontent.com/88707987/134654421-5c245540-632c-462b-9d5d-5537f18c75aa.png)

Maybe the consumption gets only estimated, if a minimum speed is reached. While testing I was not moving.

[2021-09-24 10:02] FabianWessel opened #832 "Axis Title gets covered by values in Track Statistics"
Sometimes the values of the axis cover the title of the axis. This can be provoked by creating short tracks of a few seconds.

![Screenshot_20210924-112848](https://user-images.githubusercontent.com/88707987/134656575-e82cbff8-cf65-4c44-b797-11b93b134756.png)

[2021-09-24 11:34] SebaDro commented on #831
Hey, thanks for reporting this issue. Could you check if this is still a thing when you're moving aorund in GPS mode?

[2021-09-27 07:51] SebaDro commented on #622
Fixed by #830

[2021-09-27 07:59] SebaDro commented on #589
Hey. Why do you find, this is more useful then showing the dialogs embedded within the app?

[2021-09-27 08:08] #212 closed

[2021-09-27 08:21] SebaDro commented on #448
The current workflow for deleting an entry is quite sufficient. An extra bin icon would be only nice to have, so priority for this enhancement is very low. However, if you come up with a good design, that also takes into account long device names, I would consider to merge it.

[2021-09-27 13:54] SebaDro commented on #832
Fixed by #834

[2021-09-28 02:36] cdhiraj40 commented on #589
It's really compact space to read such important info and as per UI having terms in a dialogue box don't look good in my opinion.

[2021-09-28 03:16] asaikarthikeya commented on #589
In many succesfull apps, Privacy statments are shown either by navigating to web link or to another fragment which contains this info. Generally large text is not displayed in the dialog box as it is hard to read. Displaying dialogs is kind of old fashion now, all apps got updated in the last 2-3 years.

[2021-10-05 12:04] FabianWessel opened #838 "Export of Tracks fails"
**Description:**
When you try to export a track, the process fails. The App displays the following message: "General Track Error - Please report this issue"

**How to reproduce:**
- Navigate to `My Tracks`
-  Choose a track and select `Export Track`
- The export fails

[2021-10-06 07:27] SebaDro commented on #366
This feature has been introduced as part of #835. The start screen now shows a warning message as depicted below:

<img src="https://user-images.githubusercontent.com/18207870/136158025-e3185551-7eeb-4cb8-9805-a6861004cfa7.jpg" width="400">

@AlbertRemke: Does it fullfill you expectations for such a warning? If so, I will close this issue.

[2021-10-06 07:31] SebaDro commented on #829
Implemented by #835

[2021-10-06 07:34] harshit973 commented on #838
I want to work on this issue

[2021-10-06 08:48] asaikarthikeya commented on #838
@harshit973 If you would like to work on this, Kindly propose a way to solve this. Thank you.

[2021-10-11 11:35] asaikarthikeya opened #841 "Screen becomes dull/ black shade after adding a new car."
After a new car is added to my cars by using + sign in the bottom. The screen becomes dull/ a black shade is observed. This black shade disappears after refreshing the fragment. Such behaviour is also observed in logbook.

[2021-10-11 13:09] asaikarthikeya commented on #841
@SebaDro You can take this up sir. I think this is due to the animation that is being used while adding a new entry. Thanks :)

[2021-10-12 03:25] asaikarthikeya opened #842 "App Crashes while clicking on the area just above the eye icon in sign in"
Click on the background just above the eye icon, On the area where background contains Munster name.
Same can be observed in sign up. Click on area where background contains Munster text, App crashes.

https://user-images.githubusercontent.com/70392921/136885819-7c340276-6131-4376-8641-e5ded2a7b72b.mp4

[2021-10-12 03:29] asaikarthikeya commented on #842
@SebaDro I just found out that this happens with the whole background. Clicking on background where names of cities are present causes app crach. Are u able to reproduce this sir?

[2021-10-13 11:53] SebaDro opened #844 "Unstable bluetooth connect workflow"
**Description**
The workflow for connecting to bluetooth devices is unstable, as sometimes the app crashes after re-connecting to a removed device or a device occurs multiple times in the list of paired devices.

**How to reproduce**
For crashing the app do the following:
1. Delete a device from the list of paired devices
2. Click on the back button
3. Go back to the OBD selection fragment
4. Try

[2021-10-14 06:57] cdhiraj40 commented on #842
I would sure like to work but from past days I just can't build the files because of
``` Cannot resolve symbol for dagger component ```
I have rebuild, cleaned, invalidate & restart but nothing seems to work :/

[2021-10-14 07:11] SebaDro commented on #818
Yes, @dewall is right. If you have a closer look on the different views, you will notice that the toolbar layout is not consistent across the whole app. There are 3 different layouts:
1. enviroCar logo with back button
2. enviroCar logo without back button
3. text header with back button
In addition, there is another interesting design on the help view which switches the header layout using an ani

[2021-10-14 07:15] cdhiraj40 commented on #842
I have talked with @asaikarthikeya about this too and it seems like it's a problem from my side only :/

[2021-10-14 07:44] asaikarthikeya commented on #842
@SebaDro We the current implementation we have onclick for the background to close the keyboard
**@OnClick(R.id.signin_background)
    protected void closeKeyboard(){
        InputMethodManager imm = (InputMethodManager)getSystemService(Context.INPUT_METHOD_SERVICE);
        imm.hideSoftInputFromWindow(getCurrentFocus().getWindowToken(), 0);
    }**

This method gives Null pointer exception when t

[2021-10-14 07:49] asaikarthikeya commented on #842
Ya..Kindly follow the steps that i have mentioned to you in the personal Mail. That might work. Thanks :)

[2021-10-14 10:24] SebaDro commented on #842
Ok, I understand that the dispatchEvent approach has advantages when it comes to handle different fragments in one activity. However, we have a working and stable solution in those fragments that needs to hide the keyboard when clicking outside the editText field. In addition, you second code sample seems very overelaborated for implementing such a simple action.

Therefore, I'd prefer the existin

[2021-10-14 13:42] SebaDro commented on #842
Yeah, do it 😃

[2021-10-14 14:30] SebaDro commented on #842
Yes, I can confirm

[2021-11-02 11:22] SebaDro commented on #842
Fixed by #846

[2021-11-02 11:22] SebaDro commented on #841
Fixed by #845

[2021-11-02 11:23] SebaDro commented on #844
Fixed by #847

[2021-11-02 13:34] SebaDro commented on #844
The app still crashes when performing the above described actions. Occuring issue: when resuming to the `OBDSelectionFragment` the context changes. But inside the `BluetoothDevicePairingCallback` the context surprisingly is `null` which leads to a failure when calling `getString()`:
https://github.com/enviroCar/enviroCar-app/blob/308f3dba24984f5f0470c0ffef538a4bc9ca8f2d/org.envirocar.app/src/org/e

[2021-11-04 14:56] cdhiraj40 opened #851 "adding icon to menu's logout/login buttons"
Currently the menu in dashboard contains only 1 item so its better to directly show the item rather than click and show

or to add icon in item and not show directly
![Screenshot_2021-11-04-20-26-50-77_47898aacd586656d6f60f8abb18dee77.jpg](https://user-images.githubusercontent.com/75211982/140337417-8b6aa114-4206-4d9d-a05e-21fe13f66732.jpg)

![Screenshot_2021-11-04-20-26-47-07_47898aacd586656d6f60

[2021-11-04 17:20] cdhiraj40 opened #852 "Make the email address clickable in help(about section) page"
The email address is not a link as of now

![Screenshot_2021-11-04-22-49-41-23_47898aacd586656d6f60f8abb18dee77_1.jpg](https://user-images.githubusercontent.com/75211982/140388394-81134c0e-fa96-4fc5-9b79-bd00279f1d04.jpg)

[2021-11-04 17:38] cdhiraj40 commented on #842
@SebaDro @asaikarthikeya can we create an issue for just discussion about adding new features or simply for comments on the app?
I wanted to propose --> issue template, PR template, and many more :)

[2021-11-05 01:52] asaikarthikeya commented on #852
Duplicate #457

[2021-11-05 01:56] cdhiraj40 commented on #852
hey its different part of help section

[2021-11-05 01:59] asaikarthikeya commented on #852
Oops, Sorry. You can take reference from #788. I will merge it.

[2021-11-05 02:02] cdhiraj40 commented on #852
its fine :)
I actually took reference from it only, you can sure check :)

[2021-11-05 02:06] asaikarthikeya commented on #852
Just a small change is required, Do update the PR and squash commits. I will merge it today. No worries. Thanks

[2021-11-05 02:15] asaikarthikeya commented on #842
@cdhiraj40 Hello Dhiraj, Things such as PR template,issue template are handled by the internal org members. Not open to external contributors at this moment. We would definetly like to here your new ideas, so donot hesistate to create an issue if you have a new feature/ bug in your mind. Work only after it is approved by any mentor ;)

[2021-11-05 02:56] #852 closed

[2021-11-05 03:06] cdhiraj40 commented on #851
hey, @asaikarthikeya which one should I go for it?
text and icon or only icon
(as per me both icons are kinda similar so having text with it will be better to understand) Thanks!

[2021-11-05 07:09] SebaDro commented on #842
Hi @cdhiraj40.
We introduced our new contributing guidelines in the develop branch: https://github.com/enviroCar/enviroCar-app/blob/develop/CONTRIBUTING.md

Have a look on it, there are also some basic guidelines for reporting issues and creating pull requests. In the future, maybe, we will also allow discussions about new ideas using GitHub Discussions. But up to now, however, we did not activate

[2021-11-06 05:59] asaikarthikeya commented on #851
@cdhiraj40 I would prefer to go with only icon. menu is generally prefer if we have 2 or more items. But the problem with icons is, not many are familiar with login and log out icons. May be a toast on long press on the icon might solve this problem. @SebaDro What do you think about this sir?

[2021-11-10 11:37] cdhiraj40 commented on #541
This is a really good addition to the app which will help a lot. I think it should also get implemented for the track review(my tracks section)  and maybe then for the logbook too.
What are your thoughts sir? @SebaDro

[2021-11-10 12:12] cdhiraj40 opened #854 "Clicking in notification takes to different activity"
When clicked on the notification after starting track takes you to ``BaseMainActivity``
Another issue: because of this it creates welcome messages even if the app is already working as the activity is kept creating

Possible Solution: After clicking takes you to the recording screen Activity.

Screen recording for reference

[2021-11-10 12:18] cdhiraj40 commented on #818
Same

The same issue is there for ``StartRecordingActivity``, any reason sir? @SebaDro @asaikarthikeya

[2021-11-11 13:04] SebaDro commented on #818
Yes and no  :point_down:

[2021-11-11 14:47] cdhiraj40 commented on #818
yes i know that sir but that activity doesnt have any toolbar

![Screenshot_2021-11-11-20-14-57-18_47898aacd586656d6f60f8abb18dee77.jpg](https://user-images.githubusercontent.com/75211982/141317738-3552943a-2705-4a25-a029-676beb985f3e.jpg)

[2021-11-11 15:16] asaikarthikeya commented on #818
Hello Dhiraj, Do you think a toolbar looks good in the recording screen? Toolbar is intentionally ignored in the recording screen. The back option is also not a must have feature in settings screen. Always try to think in the opposite way( who it will be if I have a toolbar, does it improve the UI?) before asking. Some things are designed intentional keeping several other parameters in mind. Thank

[2021-11-11 15:25] cdhiraj40 commented on #818
I meant the back option in recording screen activity, sorry for the inconvenience. I Will sure try to think that way next time before asking.

[2021-11-15 10:06] #663 closed

[2021-11-15 10:06] #736 closed

[2021-11-15 11:44] asaikarthikeya commented on #728
Merged into the master branch!

[2021-11-15 11:44] #728 closed

[2021-11-15 11:44] #721 closed

[2021-11-15 11:44] #677 closed

[2021-11-15 11:44] #671 closed

[2021-11-15 11:44] #664 closed

[2021-11-15 11:45] #661 closed

[2021-11-15 11:45] #640 closed

[2021-11-15 11:45] #637 closed

[2021-11-15 11:45] #636 closed

[2021-11-15 11:45] #634 closed

[2021-11-15 11:46] asaikarthikeya commented on #611
Merged into the master branch!

[2021-11-15 11:46] #611 closed

[2021-11-15 11:46] #607 closed

[2021-11-15 11:46] #596 closed

[2021-11-15 11:46] asaikarthikeya commented on #588
Merged into the master branch!

[2021-11-15 11:46] #588 closed

[2021-11-15 11:47] #576 closed

[2021-11-15 11:47] #572 closed

[2021-11-15 11:47] asaikarthikeya commented on #829
Merged into the master branch!

[2021-11-15 11:47] #829 closed

[2021-11-15 11:48] asaikarthikeya commented on #825
Merged into the master branch!

[2021-11-15 11:48] #825 closed

[2021-11-15 11:48] asaikarthikeya commented on #805
Merged into the master branch!

[2021-11-15 11:48] #805 closed

[2021-11-15 11:48] asaikarthikeya commented on #842
Merged into the master branch!

[2021-11-15 11:48] #842 closed

[2021-11-15 11:49] asaikarthikeya commented on #841
Merged into the master branch!

[2021-11-15 11:49] #841 closed

[2021-11-15 11:49] asaikarthikeya commented on #823
Merged into the master branch!

[2021-11-15 11:49] #823 closed

[2021-11-15 11:50] asaikarthikeya commented on #795
Merged into the master branch!

[2021-11-15 11:50] #795 closed

[2021-11-15 11:50] #767 closed

[2021-11-15 11:50] #751 closed

[2021-11-15 11:50] #750 closed

[2021-11-15 11:50] #742 closed

[2021-11-15 11:50] asaikarthikeya commented on #738
Merged into the master branch!

[2021-11-15 11:50] #738 closed

[2021-11-15 11:51] #630 closed

[2021-11-15 11:51] #622 closed

[2021-11-15 11:51] #570 closed

[2021-11-15 11:51] #485 closed

[2021-11-15 11:52] asaikarthikeya commented on #363
Merged into the master branch!

[2021-11-15 11:52] #363 closed

[2021-11-15 11:53] asaikarthikeya commented on #366
Merged into the master branch! If this doesnot meet the expectations, do consider reopening the issue @AlbertRemke

[2021-11-15 11:53] #366 closed

[2021-11-15 11:53] #454 closed

[2021-11-15 11:53] #457 closed

[2021-11-15 11:54] asaikarthikeya commented on #467
Merged into the master branch!

[2021-11-15 11:54] #467 closed

[2021-11-15 11:54] #475 closed

[2021-11-15 11:54] #483 closed

[2021-11-15 11:54] #534 closed

[2021-11-15 11:54] #792 closed

[2021-11-15 11:55] #620 closed

[2021-11-15 11:55] #482 closed

[2021-11-15 11:55] #550 closed

[2021-11-15 11:56] #566 closed

[2021-11-15 11:58] #735 closed

[2021-11-15 12:02] #568 closed

[2021-11-15 12:08] #613 closed

[2021-11-15 12:08] #559 closed

[2021-11-15 12:10] #832 closed

[2021-11-15 12:12] #838 closed

[2021-11-15 12:13] asaikarthikeya commented on #831
Merged into the master branch!

[2021-11-15 12:13] #831 closed

[2021-11-15 12:16] SebaDro commented on #202
Due to inactivity, I will close this issue. Feel free to open it again, if still relevant.

[2021-11-15 12:16] #202 closed

[2021-11-15 12:28] SebaDro commented on #369
With commit https://github.com/enviroCar/enviroCar-app/commit/1ce17f108898d02909afb1a7c1fad32b21afff53 one of the parameters has been already renamed to indicate that it has been calculated from GPS based mesurements. This should do it.

[2021-11-15 12:28] #369 closed

[2021-11-15 14:52] cdhiraj40 opened #856 "Handling ``no internet connection`` error while uploading and consistent use of snackbar"
In my Tracks, if there is no internet connection while uploading track/tracks, it shows a general snack bar ``` An error occurred during the upload process.```

other small fixes:
addition to #311 in My Tracks
In-Home fragment dashboard after starting track the string was ``` Goto Track Recording Screen``` changed to ``` Go to Track Recording Screen```

Confession:
In contribution guidelines its m

[2021-11-15 17:54] cdhiraj40 commented on #856
i just checked when we are logged out, same general snackbar is shown, some switch cases are not working for errors in ``` tracklocallistfragment```

[2021-11-16 04:19] Jdbarad commented on #416
Can I work on this issue?

[2021-11-18 14:50] cdhiraj40 opened #858 "After deleting cars, if 1 car is remaining it doesnt automatically get selected"
The way car get automatically selected, when no cars are there
It will be good if it gets automatically selected, when only one car is left after deleting other cars

https://user-images.githubusercontent.com/75211982/142438502-9bd17c7b-ce05-4e21-856f-ab15e58770f7.mp4

feature implementation screen recording

https://user-images.githubusercontent.com/75211982/142440029-e4b4d88d-cdfd-42dc-8882-beba

[2021-11-19 07:58] cdhiraj40 commented on #447
hey, @asaikarthikeya any thoughts on this?
if this feature can be added I will like to work on it :)

[2021-11-22 03:54] cdhiraj40 commented on #479
Morning @asaikarthikeya @SebaDro
I have implemented this feature but I'm not sure if the approach is efficient or not
I have provided onClick to every fueling which directly opens ``LogbookEditFuelingFragment.java``  which has all the defaults entries as selected by the user, after saving, I'm creating a new fueling and deleting the older one. (is there any feature that I am missing from the serve

[2021-11-27 12:33] cdhiraj40 opened #860 "consistent use of material dialogs in app"
addition to PR#747
There are still some places where old dialogs have been used, it will be good to use the same design at all

screenshots of old dialogs:

![WhatsApp Image 2021-11-27 at 17 59 08](https://user-images.githubusercontent.com/75211982/143681484-4da4ee56-c71d-4cf2-8d3b-a71676d1f630.jpeg)

[2021-11-27 14:37] cdhiraj40 opened #861 "Bug when Track is recording and clicked on ``OBD Track ``"
when Track is recording and click on ``OBD Track ``  then the text of the START TRACK button goes to default which is ``START TRACK``

possible solution:
whenever clicked on ``OBD Track`` or ``GPS TRACK`` check if the track is running

 screen recording of the issue:

https://user-images.githubusercontent.com/75211982/143685854-28aec620-b395-44e6-a89f-194e44b27801.mp4

[2021-11-27 14:39] cdhiraj40 commented on #861
possible solution:

https://user-images.githubusercontent.com/75211982/143685929-5f04c4b7-3d80-485a-81c8-616b3475ed18.mp4

[2021-11-28 02:15] asaikarthikeya commented on #861
Are you planning to work on this @cdhiraj40? If yes, You can consider creating a PR. Thanks.

[2021-11-28 02:23] asaikarthikeya commented on #858
@cdhiraj40 When there is only 1 car created, automatic selection it is forced because users next step would be to selecting the car. But this is not the case with deletion. ;)

[2021-11-28 02:23] #858 closed

[2021-11-28 02:26] asaikarthikeya opened #863 "Deselect option in MyCars."
**Describe the feature**
Currently user has option to create/ delete the car. Without the deselect option user is forced to have a car selected always.

[2021-11-28 02:26] asaikarthikeya commented on #863
Anyone can work on this. Please ask before solving.

[2021-11-28 02:32] asaikarthikeya commented on #851
Icon can be preferred but the current state of logout/login menu is sufficient.

[2021-11-28 02:32] #851 closed

[2021-11-28 02:48] cdhiraj40 commented on #861
yes, i will create PR soon

[2021-11-28 03:01] cdhiraj40 commented on #863
There is another bug when you do not select any option in middle of deleting the car

[2021-11-30 13:16] cdhiraj40 commented on #447
hey, @asaikarthikeya any thoughts on this?
if this feature can be still added I will like to work on it :)

[2021-12-03 06:27] cdhiraj40 commented on #456
This is indeed a good feature and having a filter-based option seems better in my opinion but there is a lot of stuff to think about it before implementing like if the filter is based on a car model then we have to fetch all the car models even if they have been deleted by users and maybe show as a checkbox, about date-based filter I think we can filter it via range like months and same can be don

[2021-12-07 06:19] cdhiraj40 opened #867 "BUG while deleting the car, if no options selected"
There is a bug when you do not select an option in the middle of deleting the car, and the radio button unchecks.

possible solution:
uncheck the radio button only when the car is getting deleted

https://user-images.githubusercontent.com/75211982/143727223-19126b72-7575-490c-bbf4-47e45aff52a1.mp4

[2021-12-07 06:20] cdhiraj40 commented on #867
I am working on this

[2021-12-07 07:19] cdhiraj40 commented on #863
I am working on this

[2021-12-07 09:49] SebaDro opened #870 "Proving user feedback for track uploading errors"
**Description**
If an error occurs during upload of **all** local tracks, the user does not get a proper feedback about the reason for the upload failure. The error message just shows "An error occurred during the upload process.". A more meaningful message text would be necessary to assess if the failure is effected by a misuse of the app, an app error or a server failure. In addition, the error

[2021-12-07 09:54] cdhiraj40 commented on #870
@SebaDro I think its the same issue as #857

[2021-12-07 10:00] SebaDro commented on #870
Hey @cdhiraj40. Yes, you're right. In parts, the PR adresses this issue. However, it only focusses on the internet connection problem. A proper handling of other error types is still pending. So, I think it's ok to leave both issues open.

[2021-12-07 10:28] cdhiraj40 commented on #870
yes I totally agree, I will look into the issue and see why it's not working, thanks :)

[2021-12-07 10:59] cdhiraj40 commented on #870
@SebaDro  I think its happening cause here
[code]
its throwing ``NullPointerException``

detailed version : ```java.lang.NullPointerException cannot be cast to org.envirocar.core.exception.TrackUploadException

[2021-12-07 12:14] asaikarthikeya commented on #860
@cdhiraj40  If you are intrested to work on this issue. Please make a PR :)

[2021-12-07 13:23] SebaDro commented on #870
Yes, I noticed the `NullPointerException`, too. If you follow the stacktrace, you will find, that the exception occurs inside the `AgreementManager`: https://github.com/enviroCar/enviroCar-app/blob/98403d7bc73e246bdae761e515c78c3e688a0dfa/org.envirocar.app/src/org/envirocar/app/handler/agreement/AgreementManager.java#L122

It seems, there are some implementions missing for the [CacheTermsOfUseDAO]

[2021-12-07 13:32] cdhiraj40 commented on #870
I think I did try that in #857, maybe we can make functions and use it?

[2021-12-11 17:32] aashishtathod commented on #447
Hey, @asaikarthikeya ,if this feature is still to be added ,
i would like to work on it .

[2021-12-12 05:12] asaikarthikeya commented on #447
Hello @aashishtathod @cdhiraj40. This feature is not a must have feature in this app but anyone of you can work on this based on your intrest. If in case we need this feature sometime in future(mostly in next few months). we will consider first created PR to solve this issue. Thanks.

[2021-12-13 16:15] cdhiraj40 commented on #416
hey @Jdbarad, this is a complex feature and as per me, I think it cannot be solved by an individual developer as it will need the organization's inputs too. In my opinion, you can find some other issues which can be implemented alone.

[2021-12-14 16:34] cdhiraj40 opened #875 "[Discussion] Changing the way errors looks on editTexts"
As the app already uses google's material TextInputLayout, it also should use its great-looking way to show errors.
there are places where showing error takes space in editText and it makes it look bad because of compression.
for example:
![before-ss1](https://user-images.githubusercontent.com/75211982/146039058-17232fd7-069f-4f37-a098-a35bbb02c42a.jpg)

some screenshots of after using material Te

[2021-12-14 17:12] asaikarthikeya commented on #875
@cdhiraj40 hey, Yes. Your new proposed way of showing errors looks good to me. Showing error icon seem to be bit outdated and the compression is also observed in few devices. If you would like to work on this issue, please create a PR. Thanks.

[2021-12-14 17:13] cdhiraj40 commented on #875
sure I would definitely like to work on this, you can assign me :)

[2021-12-14 17:26] asaikarthikeya commented on #875
Generally for any issue, the PR which is raised first is considered. Other PR's which are created later will be not considered. As you have already mentioned your interest in this issue, any other developer should have to confirm with you before he works on this issue. So, No need to wait until it is assigned to you. You can work on any issue if it does not have any PR ;) Thanks.

[2021-12-17 16:57] SebaDro opened #877 "App crash when disabling auto connect"
**Description**
The app crashes when you try to deactivate the "Auto Connect" setting.

**Branches**
master, develop

**How to reproduce**
Go to the settings screen, enable "Auto Connect" and try to disable it again.

**How to fix**
TBD

[2021-12-17 19:25] cdhiraj40 commented on #877
@SebaDro sir is there any more pre-requisite to produce this?
I am unable to reproduce it, maybe device specific?

[2021-12-21 09:24] cdhiraj40 commented on #671
@asaikarthikeya I think HSN/TSN and car attributes fragments still doesn't support this, not sure if this is needed so do tell me if I can work on this :)
(car selection fragment do support this, which only covers the upper part of the screen)

[2021-12-21 10:08] cdhiraj40 opened #878 "Bluetooth disabled view is pretty much empty"
Currently, when Bluetooth is turned off, the view which is shown is just a text saying "Bluetooth is disabled", I think it should follow the same consistent view like other screens to show if a user is not logged in, not connected to the network, etc.

**Possible solution**: creating a similar view showing Bluetooth is turned off.

I would like to work on this :)

[2021-12-24 04:40] pree-T commented on #875
May I work on it?

[2021-12-24 04:46] cdhiraj40 commented on #875
hey @pree-T I have already made PR for this #876
I would suggest you, find some issues which have no PRs linked to it :)

[2021-12-24 06:43] pree-T commented on #448
May I work on it?

[2021-12-24 06:45] pree-T commented on #217
May I work on it?

[2021-12-24 06:47] pree-T commented on #456
May I work on it?

[2021-12-24 06:56] pree-T commented on #878
May I work on this?

[2021-12-24 06:58] cdhiraj40 commented on #456
hey @pree-T, what's your take on this? what is your analysis of the problem? How would look like your solution?

[2021-12-24 07:01] cdhiraj40 commented on #878
hey, @pree-T as said earlier, please find issues that don't have a PR link with them :)

[2021-12-26 04:20] pree-T commented on #456
I am thinking of adding a search bar at the top of the track list which will make it easy to search things.

[2021-12-26 05:03] cdhiraj40 commented on #456
hey @pree-T, that doesn't answer my question as that's what the issue states. I meant to ask how would your solution look like, what are you keeping in mind while creating a search bar or filter-based searching. if you are going searching then will you go for multiple queries? Lastly, if you can provide some mockup design of your implementation that will be best, as it will need some discussion ov

[2021-12-26 07:53] pree-T commented on #456
hello ### @cdhiraj40  ###I am thinking of doing a search based on car model like for searching the user will type the car model number and all the relevant items will be filtered on the basis of the text entered by the user, or else what do you suggest?

[2022-01-05 07:40] pree-T opened #880 "The side menubar can be replaced with LOGIN/REGISTER button as it contains just one option"
The side menubar contains just one option of login and sign up .Replacing it with login or register button will look better
![1641368345318](https://user-images.githubusercontent.com/47977131/148178857-05feb9b8-8e19-4f0c-88a8-1b9744aa86bd.jpg)
.

[2022-01-05 08:44] pree-T commented on #393
is this issue still open? May I work on this?

[2022-01-11 03:51] pree-T commented on #878
I don't see any such label or PR associated with this issue @cdhiraj40

[2022-01-11 03:53] pree-T commented on #818
Is this issue still open? May I work on it? Can someone help me?

[2022-01-11 05:30] cdhiraj40 commented on #818
the issue is not open for work, there is an ongoing discussion for this.

[2022-01-11 05:30] cdhiraj40 commented on #878
check #879

[2022-01-11 05:59] pree-T commented on #877
Is this issue open? May I work on it?

[2022-01-11 06:03] pree-T commented on #597
Is this issue still open? May I work on it? Can someone help me?

[2022-01-11 06:07] pree-T commented on #456
May I start working on this? Can you help me with this issue @cdhiraj40, as I a relatively new to open source contribution ?

[2022-01-11 06:29] cdhiraj40 commented on #456
I would sure like to help you. you can mail me at chauhandhiraj40@gmail.com
About this issue as stated earlier, this need discussion and we should wait what @asaikarthikeya and @SebaDro sir has to say about this.
This is definitely a good feature but bugs >>> enhancement
so try to work on some bugs there are some.
about them too, dont ask that "can i work on issue?" as its bug it would be better i

[2022-01-11 08:20] SebaDro commented on #877
@cdhiraj40: Yes, actually the app only crashes if Bluetooth is not enabled. I checked it with Bluetooth enabled and everything works fine. Can you reproduce it when you try to disbale "Auto Connect" with disabled Blueooth?

[2022-01-11 16:11] cdhiraj40 commented on #877
@SebaDro I can confirm this as a bug, the app crashes every time I try to disable ``Auto Connect``. I would notify here, as soon as I get any information on this :)

[2022-01-11 18:30] SebaDro commented on #877
Actually, it only happens when I try to disable it again with Bluetooth disabled. It seems to be an issue regarding the [AutoRecordingService](https://github.com/enviroCar/enviroCar-app/blob/master/org.envirocar.app/src/org/envirocar/app/services/autoconnect/AutoRecordingService.java).

Do you want to work on it? If so, please, analyze the problem first and come up with an approach for fixing it,

[2022-01-11 19:04] cdhiraj40 commented on #877
Yeah, I got to know the same, its crashing when the ``stopService`` method is called.

I would sure like to work on this. Sure I will talk about my approach before implementation it, Thanks

[2022-01-12 10:18] pree-T opened #881 "Password can be made stronger by adding the option of a special character"
Currently the password should comprise of Uppercase letters, Lowercase letters and  numbers. It can be made stronger by asking the users to add atleast one special character in it.
![1641982492295](https://user-images.githubusercontent.com/47977131/149121654-293cacda-1ad4-47f0-a42f-a6654ede7bf2.jpg)

I would also like to work on this.

[2022-01-12 18:13] cdhiraj40 commented on #877
@SebaDro sir the reason for its crashing seems to be
 '' Reason: Context.startForegroundService() did not then call Service.startForeground() ''
 I checked about it [here](https://stackoverflow.com/questions/55894636/android-9-pie-context-startforegroundservice-did-not-then-call-service-star)
I think we have to take care of devices having ``API level >= 26``(After Android 8.0) while creating a new

[2022-01-18 07:32] cdhiraj40 commented on #877
@SebaDro sir I tested the above approach by adding this code block with a function in onCreate of ``AutoRecordingService.java``.
[code]
And it seems to be working. I didn't face any crashes with this approach.
What do you think sir?

[2022-01-25 15:47] SebaDro commented on #870
Have been fixed in parts with #874. However, the app still does not inform the user about the cause for a failing track upload.

[2022-01-25 15:48] SebaDro commented on #880
I will close this issue because it does not fullfill our [contributing guidelines](https://github.com/enviroCar/enviroCar-app/blob/master/CONTRIBUTING.md).

[2022-01-25 15:48] #880 closed

[2022-01-25 15:53] SebaDro commented on #867
Fixed by #868

[2022-01-25 15:53] #867 closed

[2022-01-25 15:55] SebaDro commented on #877
It looks good to me. If want, you can create a pull request for it.

[2022-01-25 16:10] cdhiraj40 commented on #877
@SebaDro sure sir will do. Thanks!

[2022-01-25 16:12] cdhiraj40 commented on #870
@SebaDro sir is this issue from the server side? if not then we can try handling one by one and check why its not working properly

[2022-01-25 16:15] SebaDro commented on #870
I'm not sure if the server responds with a meaningful error message for each track. First step would be to debug the app and analyze the exceptions.

[2022-01-25 16:55] cdhiraj40 commented on #877
@SebaDro sir I forgot to mention but  ``startForeground()`` is a method of service, so a Service has to call the method in itself. So I think we have to call this function inside ``AutoRecordingService.java`` class's ``onCreate`` only?
or is there a way to use the method [here](https://github.com/enviroCar/enviroCar-app/tree/master/org.envirocar.app/src/org/envirocar/app/notifications)?

[2022-01-31 09:41] yellowHatpro opened #885 "ButterKnife deprecated , needs to be replaced by view binding."
The project uses the Butterknife library for injecting views, but the problem is butterknife is now deprecated.
The project needs to switch from Butterknife to ViewBinding, which is more efficient and generates less boiler plate code.

[2022-02-15 07:45] SebaDro opened #886 "Provide mapbox installation information"
**Description**
Since the JCenter repository will be shut down, some dependencies for the mapbox SDK won't be pulled automatically anymore. Hence, with 88023a4b we changed to the mapbox Maven repository in order to resolve these dependencies. However, this strategy requires a mapbox account and placing credentials within local gradle.properties. The required steps for getting started should be doc

[2022-02-16 07:02] cdhiraj40 commented on #877
@SebaDro sir any thoughts on this?

[2022-02-23 04:00] ken1000minus7 commented on #885
I would like to work on this, where should I contact for getting further information?

[2022-02-27 08:37] yellowHatpro commented on #885
Hello @ken1000minus7  . Glad to see your dedication . I think @SebaDro will be able to guide you in a better way. 😄

[2022-03-01 07:51] SebaDro commented on #885
Hey @ken1000minus7.

Thanks for your interest in contributing to the enviroCar project. Unfortunately, this issue is reserved for being worked on in the upcoming Google Summer of Code 2022. We found that replacing the deprecated ButterKnife library as well as another heavily used library, requires extensive efforts, so that we considered it as a an appropriate project for GSoC.  If you'd like to t

[2022-03-01 08:10] ken1000minus7 commented on #885
I see. I will look into it. Thanks a lot ! 😊

[2022-03-03 07:42] SebaDro opened #887 "Android 12 support"
**Description**
Up to now, the app does not support Android 12 very well. Several issues have been reported regarding the Bluetooth permission management and OBDII connections.

As stated in the official [Android documentation](https://developer.android.com/guide/topics/connectivity/bluetooth/permissions), Bluetooth permission management has changed for Android 12 devices. This has already been ad

[2022-03-12 18:50] cdhiraj40 commented on #887
Hello @SebaDro sir, I checked on this bug researched it, and did some coding.

The request permission code was in the OBDSelectionFragment, After seeing the code I just thought as activity is getting initialized first we should ask for permission here and then move to the fragment. and it worked and stop crashing. so it does not need any more manually revoking permissions.

I researched about it t

[2022-03-12 18:53] cdhiraj40 commented on #886
@SebaDro I can give it a try to this, as many contributors will come soon. It will be really helpful for them :)

[2022-03-14 12:54] SebaDro commented on #887
Hey @cdhiraj40. Thanks for your elaborations on this issue. It sounds like you are on the right track. Could you please create a work in progress pull request with the coding you have done so far? Then we can use the pull request to discuss further about possible approaches for fixing the issue.

[2022-03-14 19:05] ken1000minus7 opened #891 "Inconsistency in ViewPager slide animation"
There is some inconsistency in the slide animation during navigation of the fragments in the `BaseMainActivity`. For some cases, the navigation is abrupt and no sliding animation appears. This is mainly evident during navigation from
<ol>
<li>

`TrackListPagerFragment` to `DashboardFragment`
<li>

`TrackListPagerFragment` to `OthersFragment`
</ol>

https://user-images.githubusercontent.com/7874718

[2022-03-14 19:25] cdhiraj40 commented on #887
Sure @SebaDro sir, I will create a PR soon for this.

[2022-03-14 19:32] cdhiraj40 commented on #891
I am not sure if animation is that big of any problem here, also do read the [contribution guidelines](https://github.com/enviroCar/enviroCar-app/blob/master/CONTRIBUTING.md#pull-requests) it talks about animation pull requests. But I do believe that it is worth upgrading to ``ViewPager2`` as it provides way better functionality than ``viewpager`` and will help in reusing the views.

[2022-03-14 20:25] ken1000minus7 commented on #891
Well I did read the contribution guidelines and as far as I remember they said that an issue must be opened in case of animations. Nevertheless, I was referring to the problem of the `ViewPager` not functioning in the desired way which is quite evident in the lack of proper animations during navigation and abruptness while navigating so I think this is more of an issue regarding `ViewPager` rather

[2022-03-26 18:03] Akash-Ramjyothi opened #895 "MapBox library - Build failure"
## Description:
Facing the below Build Failure while trying to Build the android app and to run it locally. Seems to be some dependency issue regarding Mapbox dependency.

### Screenshot:
![Screenshot 2022-03-26 at 11 32 27 PM](https://user-images.githubusercontent.com/54114888/160251782-ff790b58-cd45-4c87-8368-c72b36349da2.png)

[2022-03-26 18:04] Akash-Ramjyothi commented on #895
@SebaDro @bpross-52n @asaikarthikeya @arvindnegi1 please help me with this issue. Due to this I am unable to build locally and to contribute to the project.

[2022-03-26 18:08] cdhiraj40 commented on #895
@Akash-Ramjyothi first of all if the Gradle is in offline mode then do make toggle it off
![image](https://user-images.githubusercontent.com/75211982/160251888-0aa3be28-465d-4764-9ed3-0d2f7097b1bf.png)

and look at this [PR](https://github.com/enviroCar/enviroCar-app/pull/889), I have added on how one can create an account on Mapbox and build the project :)

@SebaDro @asaikarthikeya, could you loo

[2022-03-26 18:46] Akash-Ramjyothi commented on #895
@cdhiraj40 thank you so much for helping, but unfortunately the Issue still persists. I have Toggled offline and have pasted the MAPBOX Token in gradle.properties. I am sharing the screenshot too. Can you please help me with it?

![Screenshot 2022-03-27 at 12 16 20 AM](https://user-images.githubusercontent.com/54114888/160253041-3d640fa5-dfb6-4437-a00e-e01ea1c616f2.png)

[2022-03-26 19:04] cdhiraj40 commented on #895
@Akash-Ramjyothi please delete the screenshot as it has your API_KEY and about the error, I was able to see that you had written 2 backticks before MAPBOX_DOWNLOADS_TOKEN, which should not be there.
![image](https://user-images.githubusercontent.com/75211982/160253608-3bdf95f1-40f2-4a65-9467-1dff6ba0f174.png)
If you will see readme as a simple text file then you will see those 2 back ticks but in

[2022-03-26 19:12] Akash-Ramjyothi commented on #895
Hey it worked. Thank you so much @cdhiraj40 for the immediate help . It really means a lot to me.

[2022-03-26 19:12] #895 closed

[2022-03-28 07:20] SebaDro commented on #886
Fixed by #889

[2022-04-03 10:58] Akash-Ramjyothi opened #896 "Bland Splash Screen"
## Description:
The current Splash Screen in the android application has a Caution Message. But in the first glance, it seems too bland for users. If the Caution message was improved by an icon to catch the user's attention, it would improve the interface of the application.

## Screenshot of current Splash screen:
<img src="https://user-images.githubusercontent.com/54114888/161424101-def8fefa-b2a

[2022-04-03 11:36] Akash-Ramjyothi opened #898 "PNG Icon in Car Selection Activity"
## Description:
In the Car Selection Activity, by default there exists an Icon which is in PNG (Portable Network Graphics) format. This might cause scalability problems on larger screens like android Tablets were to be used. If these were replaced with a Materialistic SVG (Scalable Vector Graphics) resource file, it would be better.

## Screenshot of current Car Selection Activity:
<img src="https

[2022-04-03 11:57] Akash-Ramjyothi opened #901 "In-App Update Prompt"
## Description:
If there is an update for enviroCar Android App, the only way how users could know about it is the notification from the Play Store. Sometimes, users enable the Auto-Update, but mostly only when connected to Wi-Fi. If there was a way to notify users about the Update inside the app regardless of Wi-Fi or mobile data, whenever a newer version is released, it would be better.

## Mayb

[2022-04-03 12:49] Akash-Ramjyothi opened #903 "Tint of Icons in Others section"
## Description:
In the Others section of the android app, the Icons are in black Tint. Sometimes they seem to be intrusive. If they were replaced with a lighter and themed colour with relevance to the android app, it will improve the interface drastically.

## Screenshot of current Others section:
<img src="https://user-images.githubusercontent.com/54114888/161428667-849844a5-4e6d-4f02-a69c-6cdf77

[2022-04-03 13:18] Akash-Ramjyothi opened #905 "UX in Report Issue screen"
## Description:
In the Report Issue screen which is accessed from the Others section, has a flaw. For users to report any issue, they first have to fill in the details and then Scroll to the Bottom to find and Send Report. If this UX was improved such that Users need not scroll and can just directly click on the Send Report button after filling the details, it would improve the UX of the applicati

[2022-04-06 17:00] #903 closed

[2022-04-12 19:56] anamansari062 commented on #854
I would like to work on this issue!

[2022-04-12 22:27] anamansari062 opened #908 "App crashes when we stop the track before the track starts recording"
## Issue
In Develop branch, When a user stops the track before the track  starts recording or the timer starts, The app crashes

## Step to reproduce
1. Go to GPS mode
2. Click on start tracking
3. Immediately after the recording screen comes up, click on stop button
4. Click yes for the dialog box.

## Possible Solution
1. We can make the stop button unclickable untill the recording starts
2. Or

[2022-04-15 05:24] Jdbarad commented on #881
I like to work on this issues

[2022-04-17 16:08] Jdbarad commented on #589
this issue is ready to open?

[2022-04-17 16:11] Jdbarad commented on #796
this issue is open to work?

[2022-04-17 16:18] cdhiraj40 commented on #589
hey @Jdbarad the PR for the issue has been made here -> https://github.com/enviroCar/enviroCar-app/pull/799

[2022-04-18 13:15] Jdbarad commented on #416
https://user-images.githubusercontent.com/93068379/163813376-1d344cd5-a84e-497d-869b-cbc8329097e6.mp4

There is a Sample voice command that works using RASA.
*Ignore UI

[2022-04-21 07:21] #856 closed

[2022-05-17 08:24] #886 closed

[2022-05-17 08:29] SebaDro commented on #887
Has been fixed with #910 and proofed as working.

[2022-05-17 08:29] #887 closed

[2022-05-17 09:38] SebaDro commented on #908
Fixed by #909 and will be closed as soon as it has been merged into the master.

[2022-05-17 09:40] #901 closed

[2022-05-17 09:44] SebaDro commented on #905
If we do so, people tend to directly click on the send button without describing the problem. Hence, this is an UI/UX enhancement which is not strictly necessary.

[2022-05-17 09:45] #905 closed

[2022-05-17 09:58] #393 closed

[2022-05-23 15:42] SebaDro commented on #877
Fixed with 4c0e6edc.

[2022-05-30 12:41] ChrissW-R1 opened #916 "Upload-Batch didn't work"
If I try to upload all tracks with the could button on the list, it didn't. Uploading via the context menu a specific track works without any errors. So it looks like there is an error in the batch process to upload all tracks.

![Screenshot_20220522-102920_enviroCar](https://user-images.githubusercontent.com/1086210/170994438-1c6e43e6-6e5d-4143-a5a5-ba67880832b0.png)

[2022-06-07 18:13] Akash-Ramjyothi opened #917 "Gradle Build failure"
## Description:

Facing the below Build failure due to unknown reasons. Was working fine until a few days ago, where this error occurred. Also tried to fix it by reseting MAPBOX credentials and cloning it again, but did not work.

### Screenshot:

![WhatsApp Image 2022-06-06 at 7 56 31 PM](https://user-images.githubusercontent.com/54114888/172453173-3978e2c0-b8b8-4a31-976c-e9b5e6ad3063.jpeg)

[2022-06-08 08:01] SebaDro commented on #917
Hi @Akash-Ramjyothi .
Please, describe your problem a little bit more in detail. In which branch does this issue occur? What is you build command?

I'm pretty sure, that you're facing an issue with your local IDE settings. Please, check it by exeucting `gradlew assembleDebug` from a terminal. If it runs without any failures, your have to check your IDE settings.

[2022-06-08 21:18] Akash-Ramjyothi commented on #917
@SebaDro sir the issue is resolved. It was not an issue with the branch or any command. It was a problem with my JDK configuration, which I fixed it. **Thank you so much for the guidance,** as you said, this was an issue with my local IDE.

[2022-06-10 10:33] SebaDro commented on #917
Great to hear. Therefore, I will close this issue.

[2022-06-10 10:33] #917 closed

[2022-06-10 10:35] SebaDro commented on #916
Hey @ChrissW-R1 . Thanks for reporting this issue. Could you please let us know, for which version the error occurs so that we can  recreate the issue?

[2022-06-10 17:57] Akash-Ramjyothi opened #918 "Upgrade RxJava from version 2 to 3"
## Description:
Currently, the android project is using an outdated RxJava version 2 instead of version 3. Making this library up to date is crucial to replace the otto event bus and for future features to be easily made and integrated.

[2022-06-28 06:00] Jdbarad commented on #394
This issue is open to work?

[2022-06-28 08:29] SebaDro opened #927 "Broken car selection radio button"
**Description**
The radio buttons, which indicate car selection, do not update properly when visiting the car selection view. If you have selected a car and revisit the car selection view, always the radio button of the first car item in the list is activated regardless which car has been selected acutally.

**Branches**
 develop

**How to reproduce**
1. Add two cars in the car selection view.
2.

[2022-06-28 19:48] Akash-Ramjyothi opened #928 "FAB for Scrolling in Help Section"
## Description:
The Help Activity of the app displays a substantial amount of content to the users. If there was a Floating Action Button present when the user reaches the bottom of the screen to quickly scroll to the top, it would benefit the user while navigation.

### Maybe fixed on: #925 .

[2022-06-28 20:00] Akash-Ramjyothi opened #929 "Manual Refresh in My Cars section"
## Description:
The My Cars section where the user selects the vehicle is loading data automatically. If the loading of data is once again triggered through user's interaction in addition to the existing automatic loading of data, it would be better.

[2022-06-28 20:26] Akash-Ramjyothi opened #931 "Improve Materialization in Sign-In Activity"
## Description:
Even though the Sign-In Activity of the app uses `TextInputLayout`, the EditText does not seems to be materialized when compared to other Google android apps.  Also it is using the default `AppCompatEditText` which can be changed to `material.TextInputEditText`.

### Maybe fixed by: #932 .

[2022-06-30 20:16] Akash-Ramjyothi opened #934 "Replace Butter Knife view binding with Jetpack View Binding"
## Description:
Replace the deprecated Butter Knife view binding with Jetpack View Binding to provide a cleaner approach for separating views from models.

Butterknife is a 3rd party library made to address the issue of using findViewById(...) functions to reference and interact with views. It helped reduce boilerplate code but also had to set up a @Bind annotation every time we wanted to interact

[2022-07-11 03:51] #896 closed

[2022-07-21 04:44] Akash-Ramjyothi opened #939 "Manual Refresh in My Tracks section"
## Description:
The My Tracks section where the user selects the Track is loading data automatically. If the loading of data is once again triggered through user's interaction in addition to the existing automatic loading of data, it would be a better user experience.

[2022-08-15 18:34] Akash-Ramjyothi opened #947 "Replace SQLBrite library"
## Description:
Currently the enviroCar-app uses SQLBrite library (https://github.com/square/sqlbrite) for semantics to queries. But it has been deprecated and archived and is no longer supported. This specific library dependency needs to be replaced with a newer library that follows the same implementation pattern and provides similar functionality.

[2022-08-15 18:38] Akash-Ramjyothi commented on #947
Maybe fixed by #949.

[2022-08-16 09:41] asaikarthikeya commented on #931
Duplicate #796

[2022-08-16 09:41] #931 closed

[2022-08-16 15:36] Akash-Ramjyothi opened #950 "Scrolling in Dashboard fragment"
## Description:
In the `Dashboard` fragment at the `BaseMainActivity`, the screen is scrollable even though the components and widgets whose place is static and are fixed. There is no requirement or necessity for the screen to be scrollable. If the specific fragment's motion is `locked`, it would improve the user experience and interaction within the screen.

## Current Dashboard fragment:
https:/

[2022-08-16 15:37] Akash-Ramjyothi commented on #950
### Maybe fixed on #951.

[2022-08-19 20:30] Akash-Ramjyothi opened #956 "Button to Login if User is not logged in LogBook section"
## Description:
- In the `LogBook` section, if the User has not Logged In, no fueling data would be displayed.
- To login, the user has to navigate back to the `DashboardFragment` in order to access the `SigninActivity` to Login.
- If there was a Button present in the `LogBook` section that would directly lead the user to `SigninActivity` if he is not logged in, it would be an Improvement.

## Cur

[2022-08-19 20:31] Akash-Ramjyothi commented on #956
### Maybe fixed on: #955 .

[2022-09-02 16:27] Jdbarad commented on #536
Is this issue open to work?

[2022-09-03 14:32] asaikarthikeya commented on #536
This issue has been resolved as a part of GSoC 2020( see PR - #746).

[2022-09-03 15:22] Jdbarad commented on #536
@asaikarthikeya why is this still open?

[2022-09-05 06:35] SebaDro commented on #536
This is still an open issue because this feature has not been released, yet. It has been addressed with #746 but there are some minor changes required before it may be considered for merge into the master branch.

@arvindnegi1, dou you plan to finalize your work?

[2022-09-16 20:21] MohitGupta121 commented on #674
Is this issue is still open, I want to work on this issue @cdhiraj40 ?

[2022-09-17 12:50] MohitGupta121 commented on #863
@asaikarthikeya Is this issue is still open, I want to work on this.

[2022-09-17 13:44] asaikarthikeya commented on #863
Hello @MohitGupta121, Thank you for showing your intrest. Currently there is a open PR for this issue which is yet to be reviewed(See #869 ). As this is marked as a low priority issue the review of the PR is delayed.

I would suggest you to look for issues which have no tagged PR's or you can explore the app and propose your ideas by opening a github issue. Thanks :)

[2022-09-17 13:46] asaikarthikeya commented on #674
Yes, It is open. please refer to the above conversation. Thanks

[2022-09-17 13:48] MohitGupta121 commented on #863
Okay Thanks @asaikarthikeya  you I look to another one.

[2022-09-17 13:49] MohitGupta121 commented on #674
Okay thanks you. I'll check some other issues.

[2022-09-22 07:38] #877 closed

[2022-09-22 07:38] #908 closed

[2022-09-22 07:39] #803 closed

[2022-10-28 04:10] SanjaySargam commented on #956
Is this issue still open?
I want to contribute

[2022-10-28 07:54] SebaDro commented on #956
Hi @SanjaySargam. Thanks for your interest in contributing to enviroCar.
Unfortunately, this issue has been already addressed by #955 but has not been merged already to the master branch so that it is still open.
Maybe, have a look on some other issues, but first check in the comments if somebody else have already worked on it.

[2022-10-28 08:00] SanjaySargam commented on #956
Okk Fine😊

[2022-11-11 20:43] Smarshal21 commented on #950
@SebaDro can i work on this and have my version of the fixing this issue????

[2022-11-11 20:44] Smarshal21 commented on #929
@SebaDro can i work on this????